<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<div class="wA">
		<div class="col-sm-10" id="hA">
			<h1 class="col-sm-2">kjsjjsjskl</h1>
			<h3>udfhdgshjasj</h3>
		</div>
		<div class="col-sm-12 cintent">
			<img class="col-sm-2" src="img/img8.jpg">
			<img class="col-sm-3" src="img/img1.jpg">
		</div>
		<div class="fA"></div>
	</div>

</body>
</html>