<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <!----website title----->
        <title>Desh Surgicals</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-------all extranal link------->

        <!--=======css link=========-->
        <link rel="stylesheet" type="text/css" href="assect/css/style.css">

        <!--=======css link (boostrap)=========-->
        <link rel="stylesheet" type="text/css" href="assect/bootstrap/css/bootstrap.min.css">


        <!--=======js link=========-->
        <script src="plagins/js/jquery3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!--=======js link (boostrap)=========-->
        <script src="assect/bootstrap/js/bootstrap.min.js"></script>

        <!--=======icon kit=========-->
        <script src="https://kit.fontawesome.com/8bd0fc4f43.js" crossorigin="anonymous"></script>

    </head>

    <body>
    <!--========Full Web Page========-->
        <!--=======Preloeader=========-->
        <!--========Header Area========-->
        <header class="header-area ">
            <!--======header-top========-->
            <div class="top-info bg-danger">
                <div class="container">
                    <div class="row">
                        <div class="left-section">
                            <i class="fas fa-phone contuct"> Call us: +8801994360000</i>
                            <i class="fas fa-envelope mail"> Text us: deshsurgicals@gmail.com</i>
    
                            <span class="socale-midea">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                
                            </span>
                        </div>
                        <div class="right-section">
                            <a href="#">
                                <i class="fas fa-user"> Login</i>
                            </a>

                            <a href="#">
                                <i class="fas fa-key"> Register</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--======header-top========-->
            <section class="navigetion-area">
                <div class="container">
                    <div class="inner-sec">
                        <!--=====main-logo======-->
                        <figure class="main-logo">
                            <a href="#"><img src="assect/img/main-lugo/main-logo.png"></a>
                        </figure>

                        <!--=====main-menu======-->
                        <section class="main-menu">
                            <ul class="menu">
                                <li class="menu-item active"><a href="#" class="link-item ">HOME</a></li>
                                <li class="menu-item "><a href="#" class="link-item ">CATAGORYS</a></li>
                                <li class="menu-item "><a href="#" class="link-item ">PRODUCTS</a></li>
                                <li class="menu-item "><a href="#" class="link-item ">CONTUCT US</a></li>
                            </ul>
                        </section>

                        <!--====user-penel======-->
                        <section class="user-penel">
                            <div class="search-section">
                                <i class="fas fa-search src-btn"></i>

                                <div class="inner-section">
                                    <form action="" class="search-area">
                                        <input type="search" name="search" placeholder="search">
                                        <label class="fas fa-search"></label>
                                    </form>

                                </div>
                            </div>

                            <div class="login">
                                <i class="fas fa-user"></i>
                            </div>

                            <div class="wish-list">
                                <i class="fas fa-heart"></i>
                            </div>

                            <div class="cart">
                                <i class="fas fa-shopping-bag"></i>
                            </div>

                            <div class="menu-btn">
                                <i class="fas fa-bars"></i>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            <!--if screen lessthen 1000px then menu-->
            <section class="side-menu">
                <div class="inner-section bg-dark">
                    <div class="menu-close">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </section>
        </header>
        <!--================-->
        <!--================-->
        <!--================-->
        <!--================-->
        <!--================-->


        <script src="assect/js/script.js"></script>
    </body>
</html>