<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <!----website title----->
        <title>Desh Surgicals | Product</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-------all extranal link------->

        <!--=======css link=========-->
        <link rel="stylesheet" type="text/css" href="assect/css/style.css">
        <link rel="stylesheet" type="text/css" href="assect/css/product-details.css">

        <!--=======css link (boostrap)=========-->
        <link rel="stylesheet" type="text/css" href="assect/bootstrap/css/bootstrap.min.css">


        <!--=======js link=========-->
        <script src="plagins/js/jquery3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!--=======js link (boostrap)=========-->
        <script src="assect/bootstrap/js/bootstrap.min.js"></script>

        <!--=======icon kit=========-->
        <script src="https://kit.fontawesome.com/8bd0fc4f43.js" crossorigin="anonymous"></script>

        <!--------swipper slide--------->
        <link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


        <!--=======slick master=========-->
        <link rel="stylesheet" type="text/css" href="assect/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="assect/slick/slick-theme.css"/>
        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="assect/slick/slick.min.js"></script>


    </head>

    <body>
    <!--========Full Web Page========-->
        <!--=======Preloeader=========-->
        <div class="preloeder">
            <div class="loader" ><span>Loading...</span></div>
        </div>
        <!--========Header Area========-->

        <header class="header-area">
            <!--======header-top========-->
            <div class="top-info bg-danger">
                <div class="container">
                    <div class="row">
                        <div class="left-section">
                            <i class="fas fa-phone contuct"> Call us: +8801994360000</i>
                            <i class="fas fa-envelope mail"> Text us: deshsurgicals@gmail.com</i>
    
                            <span class="socale-midea">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                
                            </span>
                        </div>
                        <div class="right-section">
                            <a href="login.html">
                                <i class="fas fa-user"> Login</i>
                            </a>

                            <a href="register.html">
                                <i class="fas fa-key"> Register</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--======header-top========-->
            <section class="navigetion-area">
                <div class="container">
                    <div class="inner-sec">
                        <!--=====main-logo======-->
                        <figure class="main-logo">
                            <a href="index.html"><img src="assect/img/main-lugo/main-logo.png"></a>
                        </figure>

                        <!--=====main-menu======-->
                        <section class="main-menu">
                            <ul class="menu">
                                <li class="menu-item"><a href="index.html" class="link-item ">HOME</a></li>
                                <li class="menu-item has-dropdown">
                                    <a href="cetagory's.html" class="link-item">CATAGORYS</a>
                                    <i class="fas fa-angle-down dropdown-icon"></i>

                                    <!--sub-menu-->
                                    <ul class="dropdown">
                                        <li class="menu-item"><a href="#" class="link-item ">most populer item's</a></li>
                                        <li class="menu-item"><a href="#" class="link-item ">first aid</a></li>
                                        <li class="menu-item"><a href="#" class="link-item ">daily care</a></li>
                                        <li class="menu-item"><a href="#" class="link-item ">mom's baby care</a></li>
                                        <li class="menu-item"><a href="#" class="link-item ">women care</a></li>
                                        <li class="menu-item"><a href="#" class="link-item ">men care</a></li>
                                        <li class="menu-item "><a href="#" class="link-item ">health care</a></li>

                                    </ul>

                                </li>
                                <li class="menu-item "><a href="product.html" class="link-item ">PRODUCTS</a></li>
                                <li class="menu-item "><a href="contuct-us.html" class="link-item ">CONTUCT US</a></li>
                            </ul>
                        </section>

                        <!--====user-penel======-->
                        <section class="user-penel">
                            <div class="search-section">
                                <i class="fas fa-search src-btn"></i>

                                <div class="inner-section">
                                    <form action="" class="search-area">
                                        <input type="search" name="search" placeholder="search">
                                        <label class="fas fa-search"></label>
                                    </form>

                                </div>
                            </div>

                            <div class="login">
                                <a href="login.html"><i class="fas fa-user"></i></a>
                            </div>

                            <div class="wish-list">
                                <i class="fas fa-heart"></i>
                            </div>

                            <div class="cart">
                                <a href="cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>

                            <div class="menu-btn">
                                <i class="fas fa-list"></i>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            <!--if screen lessthen 1000px then menu-->
            <section class="side-menu">
                <div class="inner-section">
                    <div class="menu-close">
                        <i class="fas fa-times"></i>
                    </div>

                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="link-item ">HOME</a></li>
                        <li class="menu-item has-dropdown">
                            <a href="cetagory's.html" class="link-item">CATAGORYS</a>
                            <i class="fas fa-angle-down dropdown-icon"></i>

                            <!--sub-menu-->
                            <ul class="dropdown">
                                <li class="menu-item"><a href="#" class="link-item ">most populer item's</a></li>
                                <li class="menu-item"><a href="#" class="link-item ">first aid</a></li>
                                <li class="menu-item"><a href="#" class="link-item ">daily care</a></li>
                                <li class="menu-item"><a href="#" class="link-item ">mom's baby care</a></li>
                                <li class="menu-item"><a href="#" class="link-item ">women care</a></li>
                                <li class="menu-item"><a href="#" class="link-item ">men care</a></li>
                                <li class="menu-item "><a href="#" class="link-item ">health care</a></li>

                            </ul>
                        </li>
                        <li class="menu-item "><a href="product.html" class="link-item">PRODUCTS</a></li>
                        <li class="menu-item "><a href="contuct-us.html" class="link-item ">CONTUCT US</a></li>
                        <li class="menu-item "><a href="login.html" class="link-item">Login</a></li>
                        <li class="menu-item "><a href="#" class="link-item">wish-list</a></li>
                        <li class="menu-item "><a href="#" class="link-item">cart</a></li>
                    </ul>

                    <form action="" class="search-area">
                        <input type="search" name="search" class="bg-dark" placeholder="search">
                        <label class="fas fa-search"></label>
                    </form>

                    <div class="socale-midea">
                        <a href="#"><i class="fab fa-facebook facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter twitter"></i></a>
                        
                    </div>

                    
                </div>
            </section>
        </header>
        <!--=======main-content=========-->
        <section class="main-contnet cetagory-page">
            <!--=======Bennar-section=======-->
            <div class="container">

                <!--=======page-indecetor=======-->
                <div class="page-indecetors">
                    <ul>
                        <li class="page-item"><a href="index.html">home</a> <i class="fas fa-angle-right"></i></li>
                        <li class="page-item"><a href="index.html">product</a></i></li>
                    </ul><hr>
                </div>

                <div class="product-content">
                    <div class="inner-section">
                        <!--cetagory-section--->
                        <div class="cetagory-section">
                            <div class="sec-title">Catagory

                                <input type="checkbox" id="check">
                                <label for="check">
                                    <i class="fas fa-plus" id="cetagory-open"></i>
                                    <i class="fas fa-minus" id="cetagory-close"></i>
                                </label>
                            </div>
        
                            <div class="cetagory-list">
                                <li class="menu-item has-sublist">
                                    <a href="#" class="link-item">baby care</a>
                                    <i class="fas fa-angle-down"></i>
                                    <!--=====Sublist====-->
                                    <ul class="sub-list">
                                        <li class="menu-item"><a href="#" class="link-item">Baby & Kids</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Boy's Clothing</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Girl's Clothing</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Baby Clothing</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Kids Footwear</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Kid's Backpack</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Baby Food</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Party Supplies</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item has-sublist">
                                    <a href="#" class="link-item">daily care</a>
                                    <i class="fas fa-angle-down"></i>
                                    <!--=====Sublist====-->
                                    <ul class="sub-list">
                                        <li class="menu-item"><a href="#" class="link-item">Diaper</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Face Wash</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Hair Oil</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Personal Care</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Skin Care</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Soap</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Toothpaste</a></li>
                                        <li class="menu-item"><a href="#" class="link-item"></a></li>
        
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="#" class="link-item">helth care</a></li>
                                <li class="menu-item"><a href="#" class="link-item">women care</a></li>
                                <li class="menu-item has-sublist">
                                    <a href="#" class="link-item">covid-19 protection</a>
                                    <i class="fas fa-angle-down"></i>
                                    <!--=====Sublist====-->
                                    <ul class="sub-list">
                                        <li class="menu-item"><a href="#" class="link-item">mask</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">face shilde</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">hend gloves</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">hend senitaizar</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">sevlon</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">apron</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">Soap</a></li>
                                        <li class="menu-item"><a href="#" class="link-item">sergical cap</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="#" class="link-item">personal care</a></li>
                                <li class="menu-item"><a href="#" class="link-item">medical soppert</a></li>
                            </div>
                        </div>
                        <!--=======Product Details=========-->
                        <div class="product-details">
                            <div class="details-cart">
                                <div class="image-block">
                                    <img src="assect/img/product/feeder.jpg" alt="">
                                </div>
                                <div class="text-block">

                                    <div class="rateing-sec">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <span>Based on 0 review</span>
                                    </div>

                                    <div class="product-title-sec">
                                        <h2>baby feeder</h2>
                                    </div>

                                

                                    <div class="product-description">
                                        <p>The same is true for gel inner gloves - these can break down too, although it's less likely than with quick wraps. Hand wraps, when taken care of properly, will last much longer. Hand wraps are safer. If you wrap your hands properly, you're less likely to get an injury compared to using gel gloves or quick wraps</p>
                                    </div>

                                    <div class="price-sec">
                                        <h5>price :<span class="present-price">240 TAKA / <span class="price">300 TAKA</span></span></h5>
                                    </div>

                                    <div class="cetagory">
                                        <h5>cetagory : <span>Baby care</span></h5>
                                    </div>

                                    
                                    <div class="stock-sec">
                                        <h5>Availability : <span class="in-stock">In Stock</span></h5>
                                    </div>

                                    <div class="product-quantity"><!---quantity functiolitu work at script.js line 45-->
                                        <div class="quantity-from">
                                            <button class="fas fa-minus minus bg-danger"></button>
                                            <input type="number" value="1" name="price-velue" id="quantity">
                                            <button class="fas fa-plus plus bg-danger"></button>
                                        </div>
                                    </div>

                                    <div class="btn">
                                        <button class="add-cart bg-danger"><i class="fas fa-shopping-bag"></i> add to cart</button>
                                        <button class="view-cart bg-danger" onclick="cart_btn()">view cart</button>
                                        <button type="submit" class="cart-close bg-danger"><a href="index.html">cencal</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-single-tab">
                                <ul class="nav nav-tabs">
                                <li class="tab-item active drescription-btn">Description</li>
                                <li class="tab-item size-btn">Size Guide</li>
                                <li class="tab-item review-btn">Reviews (0)</li>
                                </ul>

                                <div class="inner-section">
                                    <div class="description-section">
                                        <p class="txt">
                                            BPA-free.<br>
                                            The bottle, cap & hood are made of 100% polypropylene (PP).<br>
                                            Soft spout is made of 100% thermoplastic elastomeric material- gentle on baby’s delicate gums.<br>
                                            Designed for baby’s first sips.<br>
                                            Embossed calibration.<br>
                                            Easy-grip for little hands to hold easily.<br>
                                        </p>
                                    </div>

                                    <div class="size-section">
                                        <p class="txt">
                                            This Product has no Size 
                                        </p>
                                    </div>

                                    <div class="review-section">
                                        <p class="txt">
                                            No Review Yeat 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                           
                </div>
               
            </div>
            

            <!--=======feature-boxe=========-->

            <section class="feature-boxes">
                <div class="container">
                    <hr>

                    <div class="inner-section">
                        <div class="col-sm-6 col-lg-3 feature-item ">
                            <div class="icon-block">
                                <i class="fas fa-headphones"></i>
                            </div>

                            <div class="txt-block">
                                <h3 class="title">CUSTOMER SUPPORT</h3>
                                <h5 class="sub-title">Need Assistence?</h5>
                                <p class="txt-cnt">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Duis nec vestibulum magna,
                                    et dapibus lacus. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3 feature-item ">
                            <div class="icon-block">
                                <i class="fas fa-credit-card"></i>
                            </div>

                            <div class="txt-block">
                                <h3 class="title">SECURED PAYMENT</h3>
                                <h5 class="sub-title">Safe & Fast</h5>
                                <p class="txt-cnt">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Duis nec vestibulum magna,
                                    et dapibus lacus. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3 feature-item ">
                            <div class="icon-block">
                                <i class="fas fa-reply"></i>
                            </div>

                            <div class="txt-block">
                                <h3 class="title">FREE RETURNS</h3>
                                <h5 class="sub-title"> Easy & Free</h5>
                                <p class="txt-cnt">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Duis nec vestibulum magna,
                                    et dapibus lacus. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3 feature-item ">
                            <div class="icon-block">
                                <i class="fas fa-shipping-fast"></i>
                            </div>

                            <div class="txt-block">
                                <h3 class="title">FREE SHIPPING</h3>
                                <h5 class="sub-title">Orders Over 1200 TAkA</h5>
                                <p class="txt-cnt">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Duis nec vestibulum magna,
                                    et dapibus lacus. Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>

                    </div><hr>
                </div>
            </section>
        </section>        
        <!--================-->
        <footer class="footer-area bg-light">
            <div class="container">
               <div class="row">
                    <!---company informetion---->
                    <div class="col-sm-6 col-lg-3 company-info">
                        <div class="sec-title"><h2>desh surgicels</h2></div>

                        <div class="drescription text-secondary">
                            <p><small>To Desh Surgicals. We are one of the most renowned online shops in Bangladesh which supplies emergency health care equipment especially related to the COVID pandemic situation.
                                Cardinal care was created with a vision to serve people with a smile,
                                to provide quality service over a virgin sector, and become the industry leader in E-commerce healthcare.
                                We have been dedicatedly working for more than one year through our Facebook page: https://www.facebook.com/cardinalcarebd/ </small>
                            </p>
                        </div>

                        <div class="socale-midea">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </div>
                    <!------our service------->
                    <div class="col-sm-6 col-lg-3 our-services">
                        <div class="sec-title"><h2>SERVICES</h2></div>
                        <div class="service-list">
                            <ul class="text-secondary">
                                <li class="menu-item"><a class="menu-link" href="index.html">Home</a></li>
                                <li class="menu-item"><a class="menu-link" href="product.html">Products</a></li>
                                <li class="menu-item"><a class="menu-link" href="#">About Us</a></li>
                                <li class="menu-item"><a class="menu-link" href="contuct-us.html">Contuct US</a></li>
                                <li class="menu-item"><a class="menu-link" href="#">Offers</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--========payment partner=======-->
                    <div class="col-sm-6 col-lg-3 payment-partner">
                        <div class="sec-title"><h2>Payment Partner</h2></div>
                            
                        <div class="partner-info">
                            <img class="image-section" src="assect/img/payment-partner/bkash.png" alt="bkash-logo">
                            <img class="image-section" src="assect/img/payment-partner/nogod.png" alt="nogod-logo">
                            <img class="image-section" src="assect/img/payment-partner/rocket.png" alt="rocket-logo">
                            <img class="image-section" src="assect/img/payment-partner/visa.jpg" alt="visa-logo">
                            <img class="image-section" src="assect/img/payment-partner/paypal.png" alt="paypal-logo">
                        </div>
                    <!--========payment partner=======-->
                    </div>
                    <!--========contuct informetion=======-->
                    <div class="col-sm-6 col-lg-3 contuct-info">
                        <div class="sec-title"><h2>Contuct Us</h2></div>
                            
                        <div class="contuct-from text-secondary">
                            <p><i class="fas fa-home"></i>desh surgical</p>
                            <p><i class="fas fa-map-pin"></i>Koritola, Jalkuri, Naraongong , Bangladesh</p>
                            <p><i class="fas fa-phone-alt"></i>+880 19943610XX, +880 1865556XX</p>
                            <p><i class="fas fa-envelope"></i>medicare001@gamil.com</p>
                        </div>
                    </div>    
               </div><hr>            
            </div>

            
            <!--========copyright-section=======-->
            <div class="copyright-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 left-section">
                            <a class="copyright-link text-secondary" href="#">A.R.TONMOY</a> © 2022 All Right Reserved
                        </div>
                        <div class="col-sm-6 text-lg-right right-section">Terms of Service | Privacy Policy</div>
                    </div>
                </div>
            </div>
        </footer>

        <!--if screen lessthen 650px then buttom menu-->
        <section class="buttom-menu">
            <nav class="nav">
                <a href="index.html" class="nav__link nav__link--active">
                    <i class="fas fa-home nav__icon"></i>
                    <span class="nav__text">Home</span>
                </a>
                  
                <a href="product.html" class="nav__link">
                    <i class="fas fa-shopping-bag nav__icon"></i>
                    <span class="nav__text">Products</span>
                </a>
                <a href="cart.html" class="nav__link cart-item">
                    <span class="nav__icon"><i class="fab fa-opencart"><span class="count ">0</span></i></span>
                    <span class="nav__text">Cart</span>
                </a>
  
                <a href="#" class="nav__link">
                    <i class="fas fa-bell nav__icon"></i>
                    <span class="nav__text">Offers</span>
                </a>
  
                <a href="login.html" class="nav__link">
                    <i class="fas fa-user nav__icon"></i>
                    <span class="nav__text">Account</span>
                </a>
              </nav>
              
        </section>

        <!--================-->


        <script src="assect/js/script.js"></script>
        <script src="assect/js/costom-slider.js"></script>
    </body>
</html>