<!DOCTYPE html>
<html>
<head>
	<title>Creative Zone</title>
	<!-----https://technobd.com/------>
	<!----Icon------>
	<link rel="Icon" type="Images/png" href="img/Hlogo.png">
	<!-------css-------->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!----Icons----->
	<link rel="stylesheet" type="text/css" href="plugins/font/css/all.min.css">
	<!------bootstrap css------>
	<link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.css">
	<!------js link---------->
	<script type="text/javascript" src="plugins/js/jquery3.4.1.js"></script>
	<!----bootstrap js------>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
</head>
<body>		<!------preloader--------->
	<div class="preloader">
		<div class="preloader-spinner"></div>
	</div>
	<!-----FullWerpperArea-------->
	<div class="container-fluid FullWerpperArea">
			
			<a class="fixed-bottom" href="#">
				<b class="fab fa-facebook-messenger fa-3x messenger"></b>
			</a>
		<!---------Navbar--------->
		<nav class="navbar">
			
		</nav>

		<!-----ContnetArea------->
		<div class="ContnetArea">
		<!--------Banner------>
			<div class="benar">
					<div id="demo" class="carousel slide" data-ride="carousel">
						<!-------Indicators------->
						<ul class="carousel-indicators">
							<li data-target="#demo" data-slide-to="0"></li>
							<li data-target="#demo" data-slide-to="1"></li>
							<li data-target="#demo" data-slide-to="2"></li>
							<li data-target="#demo" data-slide-to="3"></li>
							<li data-target="#demo" data-slide-to="4"></li>
							<li data-target="#demo" data-slide-to="5"></li>
							<li data-target="#demo" data-slide-to="6"></li>
						</ul>
						<!-------------->
						<div class="carousel-inner">
							<!-------0---------->
							<div class="carousel-item active">
						     	<img class="img-fluid img-thumbnail " src="img/webs.png" alt="Web Design">
						    </div>
						    <!-------01---------->
						    <div class="carousel-item">
						     	<img class="img-fluid img-thumbnail " src="img/WebD.jpg" alt="Web Development">
						    </div>
						    <!-------2---------->
						    <div class="carousel-item">
						     	<img class="img-fluid img-thumbnail " src="img/WEBA.png" alt="Web Application">
						    </div>
						    <!-------3---------->
						    <div class="carousel-item">
						     	<img class="img-fluid img-thumbnail " src="img/GD.png" alt="Grephix Design">
						    </div>
						    <!-------4---------->
						    <div class="carousel-item">
						     	<img class="img-fluid img-thumbnail " src="img/MAD.png" alt="Mobile App Development">
						    </div>
						    <!-------5---------->
						    <div class="carousel-item">
						     	<img class="img-fluid img-thumbnail " src="img/SD.png" alt="Software Development">
						    </div>
						     <!-------6---------->
						    <div class="carousel-item">
						     	<img class="img-fluid img-thumbnail " src="img/SN.png" alt="Social Networking">
						    </div>
						</div>
						<a class="carousel-control-prev" href="#demo"
						data-slide="prev">
							<span class="carousel-control-prev-icon bg-dark"></span>
						</a>
						<a class="carousel-control-next" href="#demo"
						data-slide="next">
							<span class="carousel-control-next-icon 2x bg-dark"></span>
						</a>
					</div>
			</div>
			<div class="WellcomeSestion">
				<div class="container-fluid">
					<h1 class="text-center">Wellcome to Creative Zone<br>The Best It Company</h1>
					<p>Creative Zoon is an IT enabled Web and Mobile Application Development service providing company in the market since 2020. Creative Zoon provides two major types of service. One is Web Solution that consists of high quality Web Design & Development, Website Maintenance, Social Networking Platform Development, E-Commerce Solutions, CMS Solutions, e-Prochar as E-mail Marketing Service, Managed Web Hosting Service and Domain Registration Service. Other one is Mobile Application Development in both Android & iOS Platform</p>
				</div>
			</div>
			<div class="">
				<div class="Sarvices">
					<h1>Our Services</h1>
					<p>We are Try To Best Work With Creative Zoon</p>
				<div class="row">
					<div class="col">
						<div class="ICON">
							<a href="#">
								<img class="img-fluid" src="img/webicon.png" alt="web design icon"><br><h1>WEB DESIGN</h1>
							</a>
						</div>
					</div>
					<div class="col">
						<div class="ICON">
							<a href="#">
								<img class="img-fluid" src="img/webaicon.png"><br><h1>WEB DEVELOPMENT</h1>
							</a>
						</div>
					</div>
					<div class="col">
						<div class="ICON">
							<a href="#">
								<img class="img-fluid" src="img/graphicon.jpg"><br><h1>GRAPHICS DESIGN</h1>
							</a>
						</div>
					</div>
					<div class="row" style="margin-left: 160px;">
						<div class="col">
							<div class="ICON">
								<a href="#">
									<img class="img-fluid" src="img/madicon.png"><br><h1>MOBILE APP DEVELOPMENT</h1>
								</a>
							</div>
						</div>
						<div class="col">
							<div class="ICON">
								<a href="#">
									<img class="img-fluid" src="img/sdicon.jpg"><br><h1>SOFTWARE DEVELOPMENT</h1>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="container-">
				<div class="recentWork">
					<h1>Our Recent Project</h1>
					<h2>We don't just talk big. Our work says it all</h2>
					<a href="#">WEB DESIGN AND DEVELOPMENT</a>
					<a href="#">GRAPHICS DESIGN</a>
					<a href="#">MOBILE APP DEVELOPMENT</a>
					<div class="product">
						<div id="left">
							<h2>Web Project</h2>
						</div>
						<div id="right">
							<h2>Graphices Project</h2>
						</div>
					</div>
					<div id="btn"><a href="#">See More</a></div>
				</div>
			</div>
		</div>
		<div class="ClientReviwe">
			<h1>We Work with Great Clients.</h1>
		</div>
	</div>
		<!-----FooterArea------>
		<div class="FooterArea">
			
		</div>
	</div>
	<script>
		$('body').addClass('preloader-active');
            $(window).on('load', function() { 
        $('.preloader').fadeOut(900);
        $('.preloader-spinner').delay(2200).fadeOut('200');
         /** $('body').removeClass('preloader-active');*/
      });
	</script>

</body>
</html>