<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Desh Organic Gerdenig Products</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <!----------costomaiz css link------------->
    <!------Icon------>
    <link rel="icon" type="images/png" href="img/hlgo.png">
    <!----css link----->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!------slick-master slide css------->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!------slick-master slide css theme------->
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
    <!------boostrap css-------->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!------Icon css ------->
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-------swiper slider------>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!---------->
    <script src="plugins/js/jquery3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
    <!------slick-master slide js------->
    <script src="plugins/js/slick.min.js"></script>

</head>
<body>
    <div class="">
        <!--------prelooder---------->
        <!--------Nevegetion/Header-area------->
        <div class="headerArea" id="Home">

            <!------website logo------>
            <div class="header_1">
              <a href="#" class="logo"><img src="img/logo.png"></a>

              <form action="" class="search_from" id="src">
                <input type="search" name="search_box" placeholder="Search Your Products......" id="search_box">
                <label for="search_box" class="fas fa-search"></label>
              </form>

              <div class="icons">
                <div id="src-btn" href="#" class="fas fa-search"></div>
                <a href="#" class="fas fa-shopping-cart card"><span>0</span></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-bell"></a>
                <div id="login-btn" href="#" class="fas fa-user"></div>
              </div>
            </div>

            <div class="header-2">
              <nav class="navber">
                <a href="#">home</a>
                <a href="#">product catagory</a>
                <a href="#">about us</a>
                <a href="#">our shop servis</a>
                <a href="#">contuct us</a>
              </nav>
            </div>
          </div>
          <!------end of HeasderArea-------->
           <!-------button navber------->
          <nav class="buttom-navber">
            <div id="left">
              <a href="#" class="fas fa-bars" id="menu-btn"></a>
              <a href="#" class="fas fa-shopping-bag"></a>
             </div>
              <div id="center">
                <i href="#" class="fas fa-home home"></i>
              </div>
            <div id="right">
              <a href="#" class="fas fa-tags tag"></a>
              <a href="#" class="fas fa-blog"></a>
            </div>
          </nav>
          <!-----Responsive menu------>
          <div id="menu">
              <a class="fas fa-times" id="menu-close"></a>
              <img src="img/logo.png">
              <input type="submit" value="sign in" class="btn" id="login-btn">
              <hr>
              <nav>
                <ul>
                  <li id='active' ><i class="fas fa-home"></i><a href="#">Home</li>
                  <li><i class='bx bxs-collection'></i><a href="#">All Catagories</a>
                    <ul class="dropdown">
                      <li><A href="#">Plants</A>
                    <ul class="submenu">
                        <li><A href="#">Indoor Plants</A></li>
                        <li><A href="#">Outdoor Plants</A></li>
                        <li><A href="#">Trees</A></li>
                        </ul>
                      </li>
                      <li><A href="#">Plant Medicine</A></li>
                      <li><A href="#">Accesorise</A>

                    <ul class="submenu">
                          <li><a href="#">Gio Bags</a></li>
                          <li><a href="#">Tubs</a></li>
                          <li><a href="#">Garden Tools</a></li>
                          <li><a href="#">Garden kits</a></li>
                          <li><a href="#">Garden soil</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><i class='bx bxl-shopify'></i><a href="#">Our Shop</a></li>
                  <li><i class='bx bxs-contact'></i><a href="#">Contuct Us</a></li>
                </ul>
              </nav>
              <div class="contuct">
                <i>Phone: +8801994361085</i><br>
                <i>Email: dogp.2020@gmail.com</i>
              </div>            
              <div id="buttom">
                <div class="icn">
                  <a href="#" class="fab fa-facebook"></a>
                  <a href="#" class="fab fa-youtube"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                  <a href="#" class="fab fa-twitter" style="background: none;"></a>
                  <a href="#" class="fas fa-envelope-square"></a>
                </div>
                <hr>
                <p>Copyright By @<a href="#">A.R.Tonmoy</a> at 2021</p>
              </div>
          </div>
          <!--------Login form------>
          <div class="login-form-containar" id="login-form">
            <form action="">
              <a class="fas fa-times" id="login-close"></a>
              <h3>Log In</h3>
              <button class="fas fa-envelope-open-text">
                <input type="email" name="" placeholder="Ender Your Email Address" id="">
              </button>
              <button class="fas fa-key">
                <input type="password" name="" placeholder="Ender Your Password" id="">
              </button>
              <div class="checkbox">
                <input type="checkbox" name="" placeholder="remember-me">
                <label for="remember-me">remember-me</label>
              </div>
              <input type="submit" value="sign in" class="btn">
              <p>Forget password ? <a href="#">click here...</a></p>
              <p>don't have a account ? <a href="#">create one...</a></p>
            </form>
          </div>
          <!------confrom payment--add to card--------->
          <section>
            <!------payment method------->
            <div class="payment-card">
              <div class="card">
                <i class="fas fa-times" id="payment-close"></i>
                <h2>Couse Your Payment Method</h2>
                <div class="payment-option">
                  <img src="img/bkash.png" id="bkash" alt="bkash-logo">
                  <img src="img/nogod.png" alt="nogod-logo">
                  <img src="img/rocket.png" id="rocket" alt="roket-logo">
                  <img src="img/paypal.png" id="card" alt="paypal-logo">
                  <img src="img/visa.jpg" alt="visa-card-logo">
                </div>
              </div>
            </div>
            <!-----payment with bkash-------> 
            <div class="pay-bkash">
              <div class="content">
                <div class="bg">
                  <img src="img/bkash-QR-cd.png">
                  <form action="">
                    <input type="text/number" name="" placeholder="Type Your TrxId">
                    <a href="#"><input type="submit" value="Submit"></a>
                  </form>
                </div>
              </div>
            </div>
            <!-----payment with nogod-------> 
            <!-----payment with rocet------->
            <div class="pay-rocket">
              <div class="content">
                <div class="bg">
                  <img src="img/rocket-QR-Code.png">
                  <form action="">
                    <input type="text/number" name="" placeholder="Type Your TrxId">
                    <a href="#"><input type="submit" value="Submit"></a>
                  </form>
                </div>
              </div>
            </div> 
            <!-----payment with card------->
            <div class="pay-card">
              <div class="content">
                <div class="bg">
                  <h2>Confirm Your Payment</h2>
                   <div class="payment-from"></div>
                   </div>      
                </div>
              </div>
            </div>
          </section>

        <!--------contebt-area------->
        <div class="contentArea">
            <!------Bennar------>
            <div class="img-slider">
              <!-------1------->
              <div class="slide active">
                <img src="img/Gio_Bag_Bannar.png" alt="">
                <div class="info">
                  <h2>Gio Bag</h2>
                  <p>Geo Bags is a great substitute of conventional marine protection material. ... The Geo Bags that we offer are high-strength nonwoven geotextile bags available in the size of 1mtr long, 0.7mtr wide. Geo bag has the applications in riverbank, beach protection, and offshore breakwaters.</p>
                  <a href="#"><input type="submit" value="Buy New" class="-buttton"></a>
                </div>
              </div>

              <!-------2------>
              <div class="slide">
                <img src="img/Trees_bennar.png" alt="">
                <div class="info">
                  <h2>Trees</h2>
                  <p>Geo Bags is a great substitute of conventional marine protection material. ... The Geo Bags that we offer are high-strength nonwoven geotextile bags available in the size of 1mtr long, 0.7mtr wide. Geo bag has the applications in riverbank, beach protection, and offshore breakwaters.</p>
                  <a href="#"><input type="submit" value="Buy New" class="-buttton"></a>
                </div>
              </div>

              <!----------3------->
              <div class="slide">
                <img src="img/Tub-bennar.png" alt="">
                <div class="info">
                  <h2>Plastic Tub</h2>
                  <p>Geo Bags is a great substitute of conventional marine protection material. ... The Geo Bags that we offer are high-strength nonwoven geotextile bags available in the size of 1mtr long, 0.7mtr wide. Geo bag has the applications in riverbank, beach protection, and offshore breakwaters.</p>
                  <a href="#"><input type="submit" value="Buy New" class="-buttton"></a>
                </div>
              </div>

              <!-------4------->
              <div class="slide">
                <img src="img/Bannar.png" alt="">
                <div class="info">
                  <h2>Gio Bag</h2>
                  <p>Geo Bags is a great substitute of conventional marine protection material. ... The Geo Bags that we offer are high-strength nonwoven geotextile bags available in the size of 1mtr long, 0.7mtr wide. Geo bag has the applications in riverbank, beach protection, and offshore breakwaters.</p>
                  <a href="#"><input type="submit" value="Buy New" class="-buttton"></a>
                </div>
              </div>

              <!------5-------->
              <div class="slide">
                <img src="img/Bannar.png" alt="">
                <div class="info">
                  <h2>Gio Bag</h2>
                  <p>Geo Bags is a great substitute of conventional marine protection material. ... The Geo Bags that we offer are high-strength nonwoven geotextile bags available in the size of 1mtr long, 0.7mtr wide. Geo bag has the applications in riverbank, beach protection, and offshore breakwaters.</p>
                  <a href="#"><input type="submit" value="Buy New" class="-buttton"></a>
                </div>
              </div>
             
              <!-----indicetors------>
              <div class="navigation">
                <div class="slide-btn active"></div>
                <div class="slide-btn"></div>
                <div class="slide-btn"></div>
                <div class="slide-btn"></div>
                <div class="slide-btn"></div>
              </div>
            </div>
          </div>
        </div>
        <!-------products------->
        <section class="product" >
          <!-----for plants-------->
          <div class="display-product" id="pro">
            <h1 class="heading"><span>Indoor/Outdoor Plants</span></h1>
            <div class="swiper display-product-slide">
  
              <div class="swiper-wrapper">
                <!-----1------->
                <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/indean Joba.jpg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Indean Joba<span>(indoor plant)</span></h3>
                    <div class="price">$5.00</div>
                    <a href="#" class="add-card"><input type="button" value="add to card"></a>
                  </div>
                </div>
                <!-------2--------->
                <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees<span>(outdoor plant)</span></h3>
                    <div class="price">$6.00</div>
                    <a href="#" class="add-card"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------3--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/appleTrees.jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Apple<span>(outdoor plant)</span></h3>
                    <div class="price">$10.00</div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------4-------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/Bash.jpg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Bash<span>(indoor plant)</span></h3>
                    <div class="price">$3.40</div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------5--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/golden tree.jpg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>golden Plant<span>(indoor plant)</span></h3>
                    <div class="price">$6.12</div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------6--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/flower trees.jpg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Flower Plant<span>(indoor plant)</span></h3>
                    <div class="price">$5.00</div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <!-------for tub--------->
          <div class="display-product">
            <h1 class="heading"><span>plant Pot</span></h1>
            <div class="swiper display-product-slide">
  
              <div class="swiper-wrapper">
  
                <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees</h3>
                    <div class="price">$5.00<span>$7.45</span></div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                <!-------2--------->
                <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees</h3>
                    <div class="price">$5.00<span>$7.45</span></div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------2--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees</h3>
                    <div class="price">$5.00<span>$7.45</span></div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------2--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees</h3>
                    <div class="price">$5.00<span>$7.45</span></div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------2--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees</h3>
                    <div class="price">$5.00<span>$7.45</span></div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
                 <!-------2--------->
                 <div class="swiper-slide-box">
                  <!----icon----->
                  <div class="icon">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                  </div>
                  <!----image----->
                  <div class="image">
                    <img src="img/images (5).jpeg" alt="">
                  </div>
                  <!----content----->
                  <div class="content">
                    <h3>Mengo Trees</h3>
                    <div class="price">$5.00<span>$7.45</span></div>
                    <a href="#"><input type="button" value="add to card"></a>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <!-------for Accessoriac--------->
          <div class="display-product">
            <h1 class="heading"><span>Garden Tools & kits</span></h1>
            <div class="swiper display-product-slide">
              <div class="swiper-wrapper">
                          <div class="swiper-slide-box">
                            <!----icon----->
                            <div class="icon">
                              <a href="#" class="fas fa-search"></a>
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="fas fa-eye"></a>
                            </div>
                            <!----image----->
                            <div class="image">
                              <img src="img/images (5).jpeg" alt="">
                            </div>
                            <!----content----->
                            <div class="content">
                              <h3>Mengo Trees</h3>
                              <div class="price">$5.00<span>$7.45</span></div>
                              <a href="#"><input type="button" value="add to card"></a>
                            </div>
                          </div>
                          <!-------2--------->
                          <div class="swiper-slide-box">
                            <!----icon----->
                            <div class="icon">
                              <a href="#" class="fas fa-search"></a>
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="fas fa-eye"></a>
                            </div>
                            <!----image----->
                            <div class="image">
                              <img src="img/images (5).jpeg" alt="">
                            </div>
                            <!----content----->
                            <div class="content">
                              <h3>Mengo Trees</h3>
                              <div class="price">$5.00<span>$7.45</span></div>
                              <a href="#"><input type="button" value="add to card"></a>
                            </div>
                          </div>
                           <!-------2--------->
                           <div class="swiper-slide-box">
                            <!----icon----->
                            <div class="icon">
                              <a href="#" class="fas fa-search"></a>
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="fas fa-eye"></a>
                            </div>
                            <!----image----->
                            <div class="image">
                              <img src="img/images (5).jpeg" alt="">
                            </div>
                            <!----content----->
                            <div class="content">
                              <h3>Mengo Trees</h3>
                              <div class="price">$5.00<span>$7.45</span></div>
                              <a href="#"><input type="button" value="add to card"></a>
                            </div>
                          </div>
                           <!-------2--------->
                           <div class="swiper-slide-box">
                            <!----icon----->
                            <div class="icon">
                              <a href="#" class="fas fa-search"></a>
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="fas fa-eye"></a>
                            </div>
                            <!----image----->
                            <div class="image">
                              <img src="img/images (5).jpeg" alt="">
                            </div>
                            <!----content----->
                            <div class="content">
                              <h3>Mengo Trees</h3>
                              <div class="price">$5.00<span>$7.45</span></div>
                              <a href="#"><input type="button" value="add to card"></a>
                            </div>
                          </div>
                           <!-------2--------->
                           <div class="swiper-slide-box">
                            <!----icon----->
                            <div class="icon">
                              <a href="#" class="fas fa-search"></a>
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="fas fa-eye"></a>
                            </div>
                            <!----image----->
                            <div class="image">
                              <img src="img/images (5).jpeg" alt="">
                            </div>
                            <!----content----->
                            <div class="content">
                              <h3>Mengo Trees</h3>
                              <div class="price">$5.00<span>$7.45</span></div>
                              <a href="#"><input type="button" value="add to card"></a>
                            </div>
                          </div>
                           <!-------2--------->
                           <div class="swiper-slide-box">
                            <!----icon----->
                            <div class="icon">
                              <a href="#" class="fas fa-search"></a>
                              <a href="#" class="fas fa-heart"></a>
                              <a href="#" class="fas fa-eye"></a>
                            </div>
                            <!----image----->
                            <div class="image">
                              <img src="img/images (5).jpeg" alt="">
                            </div>
                            <!----content----->
                            <div class="content">
                              <h3>Mengo Trees</h3>
                              <div class="price">$5.00<span>$7.45</span></div>
                              <a href="#"><input type="button" value="add to card"></a>
                            </div>
                          </div>
              </div>
            </div> 
          </div>
        </section>

        <!------------about us---------------->
        <section class="About-Us" id="about">
          <div class="heading">
            <h1>abuot our shop</h1>
          </div>
          <div class="text">
            <p>Desh Organic Gardening Products Open at 2020. We Provide all Garden
               Products, Plants, Medicine, Garden kits, Accesorise ect.
                We Provide 100% fresh Organic and Original product. We are committed to providing you the best gardening Plants, Seeds, Gio Bag, Tools, Organic
                 Fertilizers and supplies at the best possible way.</p>
          </div>
        </section>

        <!------------clint review---------------->
        <section class="client-review">
          <!------1------->
          <div class="content">
            <h1>client-Review</h1>
            <hr>
            <div class="image">
              <img src="img/_DSC0787.JPG">
            </div>
            <div class="messege">
              <h3 class="Name">Ahosan Tonmoy</h3>
              <p>This e-commearce Company Very Use Full To Us . They are Provide !00% Organic And Fresh Products.</p>
            </div>
          </div>

          <!------2------->
          <div class="content">
            <h1>client-Review</h1>
            <hr>
            <div class="image">
              <img src="img/_DSC0787.JPG">
            </div>
            <div class="messege">
              <h3 class="Name">Mr. X</h3>
              <p>This e-commearce Company Very Use Full To Us . They are Provide !00% Organic And Fresh Products.</p>
            </div>
          </div>

          <!------3------->
          <div class="content">
            <h1>client-Review</h1>
            <hr>
            <div class="image">
              <img src="img/_DSC0787.JPG">
            </div>
            <div class="messege">
              <h3 class="Name">Mr. Y</h3>
              <p>This e-commearce Company Very Use Full To Us . They are Provide !00% Organic And Fresh Products.</p>
            </div>
          </div>

          <!------4------->
          <div class="content">
            <h1>client-Review</h1>
            <hr>
            <div class="image">
              <img src="img/_DSC0787.JPG">
            </div>
            <div class="messege">
              <h3 class="Name">Mr. Z</h3>
              <p>This e-commearce Company Very Use Full To Us . They are Provide !00% Organic And Fresh Products.</p>
            </div>
          </div>
        </section>

        <!------------Contact us---------------->
        <section class="contact-us">
          <div class="messege"></div>
          <div class="contact"></div>
        </section>
        <!--------Footer-Area---------->
        <div class="footerArea">
        <!--------Footer-Area menu---------->
          <div class="footerArea-menu">
            <nav class="navber">
              <a href="#" class="home">home</a>
              <i><a href="" >Products</a></i>
              <a href="#">our shop</a>
              <a href="#about">About-Us</a>
              <a href="#">contuct us</a>
            </nav>
            <hr>
          </div>
        <!--------Footer-Area payment patnar---------->
        <div class="payment-patner">
          <img src="img/bkash.png" alt="bkash-logo">
          <img src="img/nogod.png" alt="nogod-logo">
          <img src="img/rocket.png" alt="roket-logo">
          <img src="img/paypal.png" alt="paypal-logo">
          <img src="img/visa.jpg" alt="visa-card-logo">
        </div>
        <!--------Footer-Area icon---------->
        <div class="office">
					<div class="address">
            <p>Office Address: <i class="fas fa-map-marker-alt"></i>200/39, Muzahid Nogor, South Rayerbag, Kadomtoli, Dhaka, 1362</p>
						<p><i class="fas fa-phone-alt"></i>+8801787-533449, +8801994-361085</p>
						<p><i class="fas fa-envelope"></i>dogp.dh2020@gmail.com</p>
          </div>
          <div class="icn">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-youtube"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-twitter" style="background: none;"></a>
            <a href="#" class="fas fa-envelope-square"></a>
          </div>
        </div>
        <!--------Footer-Area copyright---------->
        <div class="copyright">
          <p>this website copyright@<a href="#">a.r.tonmoy</a> at 2021</p>
        </div>

        </div>
    </div>
      <!------cart js------->
     <script src="plugins/js/cart.js"></script>

    <script src="plugins/js/script.js"></script>

    

</body>
</html>