<!DOCTYPE html>
<html>
<head>
	<title>Contuct Us</title>
	<link rel="stylesheet" type="text/css" href="css/contuctUs.css">
	<link rel="stylesheet" type="text/css" href="css/all.min.css">
	<script type="text/javascript" src="../js/jquery3.4.1.js"></script>

</head>
<body>
			<div class="preloader">
		<div class="preloader-spinner"></div>
	</div>
	<!------------end of Preloader------------>
	<div class="full_WrepperArea">
	<div id="headerArea">
		<img src="../img/logo.jpg" alt="Computer Technology" width="150" height="150">
		<h1>Computer Technology </h1>
		<h2>Welcome to</h2>
		<h3 id="marquee"><marquee>Dhaka Polytechnic Instituite</marquee></h3>
	</div>
	<!-------------End of headerArea--------------->
	<div class="nevBar">
				<ul>
			<li><a href="../index.html">Home</a></li>
			<li ><a href="../AboutUs/index.html">About Us</a></li>
			<li><a href="#"></a> Academics
				<ul>
					<li><a href="../file/Sylebus.pdf">Syllabus</a></li>
					<li><a href="#">Class Routine</a></li>
					<li><a href="#">Result</a></li>
					<li><a href="../file/2672.1.pdf">Academic Celender</a></li>

				</ul>
			</li>
			<li><a href="#">Notice</a> </li>
			<li><a href="../Students info/index.html">Students Informetion</a> </li>
			<li><a href="../Album/index.html">Album</a> </li>
			<li id="cu"><a href="contuct us/index.html"> Contuct Us</a></li>
		<input type="text" placeholder="Search" name="Search">
	</ul>
	</div>
	<!-----------End of nebVar------------->
	<div class="contuctUs">
		<div class="left">
			<h1>Address:</h1>
			<p>Contact Information:<br>
			Shahid Tajuddin Ahmed Sorony, Tejgaon Industrial Area, Dhaka – 1208<br>
			Facebook:facebook/Computer Technology (DPI)<br>
			URL : www.dpi.gov.bd
			</p>
			<div id="icon"><a href="https://web.facebook.com/groups/computertechnologydpi66/?ref=bookmarks"><b class="fab fa-facebook-square fa-2x facebook"></b></a>
					<a href="#"><b class="fab fa-youtube fa-2x youtube"></b></a>
					<a href="#"><b class="fab fa-linkedin fa-2x linkedin"></b></a>
					<a href="#"><b class="fab fa-twitter fa-2x twitter"></b></a>
					<a href="#"><b class="fas fa-envelope-square fa-2x gmail"></b></a></div>
		</div>
		<!-----------end of left----------->
		<div class="sideBar">
			<p>Login From</p>
	<form>
		Email Address:<br>
		<input type="text" name="email" placeholder="Enter your Email"><br>
		password:<br>
		<input type="password" name="psw" placeholder="password"><br>
		<button type="submit" class="btn">Log In</button>
	</form>
	<div id="mge">
		Sent Messaeges:<br>
			<input type="text" name="Messaege" placeholder="sent messaege">
			<br>
			<button type="submit" class="btn">Sent</button>
		</div>
	</div>
	<!----------end of Sideber----------->
</div>
	<!-----------End of contuctUs------------->
	<hr>
	<div id="footerArea">
		<center><p>The Website Copyright@<a href="https://web.facebook.com/tonmoy.bapari.33"> Ahosan Tonmoy</a> at 2019</p></center>
	</div>
	<!-------------end of footreArea---------->
	</div>
	<script type="text/javascript">
			      $('body').addClass('preloader-active');
            $(window).on('load', function() { 
          $('.preloader').fadeOut(600);
          $('.preloader-spinner').delay(700).fadeOut('slow');
         /** $('body').removeClass('preloader-active');*/
      });
	</script>

</body>
</html>