*{
    margin: 0 ;
    padding: 0 auto;
    outline: 0 auto;
}
.container{
    margin: 0 5rem;
}
/******/
.nevigetion-area{
  background: transparent;
  position: relative;
  z-index: 99;
  width: 100%;
  top: 0;
}
.uper-section{
    display: flex;
    line-height: 4rem;
}
.main-logo{
    width: 20%;
}
.main-logo img{
    width: 80%;
    margin-top: .5rem;
    height: 3rem;
    line-height: 4rem;
}
.main-logo a{
  text-decoration: none;
}
.search-area{
  width: 60%;

}
.search-area .search-box{
  position: relative;
  width: 80%;
  height: 2rem;
  margin: 1rem 4rem;

}
.search-box input{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 0 1rem;
}
.search-box .src_btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 10%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
}

.search-box .src_btn:hover{
  background-color: black;
}
.search-box .src_btn:hover .src_icon{
  color: red;
  transition: 1s;
}
.src_btn .src_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}

/******/
.notification-area{
  width: 20%;
  margin-left: 5rem;
}
.notification-area .link-item{
  text-decoration: none;
  color: red;
  font-size: 20px;
  padding-left: 2.2rem;
}
.notification-area .cart-item{
  position: relative;
}
.notification-area .cart-item .count{
  position: absolute;
  left: 50%;
}

/****lower-section*****/
.lower-section{
  display: flex;
}
.lower-section .cetagory{
  position: relative;
  background-color: red;
  line-height: 2.3rem;
  width: 13rem;
  text-align: center;
  cursor: pointer;
  transition: .3s;

}
.cetagory .list-item{
  list-style: none;
  color: #fff;
}
.cetagory .cetagory-list{
  display: none;
  position: absolute;
  width: 100%;
  background-color: red;
  transition: 1s;
}
.cetagory .cetagory-list .menu-item{
  list-style: none;
  color: #fff;
  padding: .3rem 2rem;
}
.cetagory .cetagory-list .menu-item .link-item,.list-item .link-item{
    color: #fff;
    text-decoration: none;
}
.cetagory:hover{
  background-color: black;

}
.cetagory:hover .cetagory-list{
  display: block;
}
.cetagory .cetagory-list .menu-item:hover {
  background-color: black;
}

/***************/
.main-menu{
  margin-left: 6rem;

}
.main-menu .menu{
  display: flex;
}
.menu .menu-item{
  list-style: none;
  padding: .3rem 2rem;

}
.menu-item.active .link-item{
  background-color: red;
  color: #fff;
  border-radius: 4rem;
  padding: .3rem 2rem;
  
}

.menu-item .link-item{
  font-size: 1.4rem;
  font-variant: small-caps;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.menu .menu-item:hover{
    background-color: red;
    color: #fff;
    border-radius: 4rem;
}
.menu .menu-item:hover .link-item{
    color: #fff;
}

/**=======main-content=========**/
.main-content{
  margin: 2rem 35%;
}

.main-content .sec-title{
    text-align: center;
    padding: 1rem;
}

.main-content .account-section{

}
.account-section .account-btn{
    text-align: center;
    margin: 1rem 0;
}
.account-btn .button{
    padding: .6rem 3rem;
    margin: 0 1rem;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
}
.account-btn i{
    margin-right: .5rem;
}


.account-section .user_login{

}
.user_login .inner-sec{}


.inner-sec .login-form{
    position: relative;
    margin: 4rem 2rem;
    text-align: center;
  height: 100vh;
}
.login-form input{
  width: 80%;
  height: 2rem;
  border: 1px solid red;
  padding: 0 13%;
}
.login-form label{
  position: absolute;
  left: 0;
  background-color: red;
  width: 10%;
  height: 2.1rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  transition: 1s; 
  font-size: 1.5rem;
}

.login-form .fas{
  padding: .3rem 0;
  color: #fff; 
}
  
.search-box .src_btn:hover{
  background-color: black;
}
.search-box .src_btn:hover .src_icon{
  color: red;
  transition: 1s;
}
.src_btn .src_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}
  
.pwd-box{
  display: block;
  margin-top: 2.5rem;
}

.login-form .login-btn{
  text-align: center;
  margin: 2rem;
}

.login-btn .button{
  line-height: 2rem;
  width: 100%;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form .login-link{
}
.login-form .login-link .link{
  padding: 0 1rem;
}

.user-registar{
  display: none;
}
.user-registar .registar-form{
  position: relative;
  margin: 0 2rem;
}
.registar-form div{
  margin: 2rem 0;
}
.registar-form input{
  width: 80%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid red;
  padding: 0 13%;
  padding-bottom: .5rem;
}
.registar-form label{
  position: absolute;
  left: 0;
  width: 10%;
  height: 2.1rem;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  transition: 1s; 
  font-size: 1.2rem;
}

.registar-form .fas{
  padding: .3rem 0;
  color: red; 
}

.registar-form .select-gender{
  display: flex;
  position: relative;
}
.select-gender input{
  height: 1rem;
  padding: 0;
  width: 2rem;
  text-align: left;
}
.select-gender label{
  position: relative;
  transition: 1s;
  font-size: 1rem;
  margin-right: .8rem;
}

.registar-form .eye{
  right: 0;
  position: absolute;
}
 .eye .show{
  display: none;
}

/*********footer-area***********/
.footer-collum{
  
}
.footer-area{
  background-color: rgb(20, 22, 28);
  background-image: url('../../img/background/shape-4.png');
  background-size: cover;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 16rem;
  position: relative;
  margin-top: 2rem;
}
.footer-area .container{
  display: flex;
}
.footer-area .company-info{
  width: 30%;
  margin-right: 2rem;
}
.company-info .drescription{
  color: #fff;
  margin: 1rem;
}
.company-info .socale-midea{
  color: #fff;
  font-size: 1.4rem;
}
.socale-midea i{
  padding: 0 1rem;
}
.footer-area .sec-title{
  padding-bottom: 2rem;
  color: #fff;
}

.footer-area .our-services{
}
.our-services .menu-item{
  list-style: none;
  padding: .2rem 1rem;
}
.menu-item .menu-link{
  text-decoration: none;
  color: #fff;
}

.footer-area .payment-partner{
  width: 40%;
  margin-left: 2rem;
}
.footer-area .payment-partner .image-section{
  width: 7rem;
  height: 3.3rem;
  padding: .3rem .5rem;
  border-radius: .8rem;
}

.footer-area .contuct-info{
}
.contuct-info .contuct-from{
  color: #fff;
}
.contuct-from p i{
  padding-right: .5rem;
}

.footer-area .copyright-section{
  width: 100%;
  background-color: rgb(22, 22, 22);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  line-height: 4rem;

}
.copyright-section .left-section{
}
.copyright-section .right-section{
  position: absolute;
  right: 0;
  margin-right: 5rem;
}
.copyright-section .copyright-link{
  text-decoration: none;
  color: #fff;
  font-family: bold;
}

