*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.container{
    margin: 0 5rem;
}
/******/
.nevigetion-area{
  background: transparent;
  position: relative;
  z-index: 99;
  width: 100%;
  top: 0;
}
.uper-section{
    display: flex;
    line-height: 4rem;
}
.main-logo{
    width: 20%;
}
.main-logo img{
    width: 80%;
    margin-top: .5rem;
    height: 3rem;
    line-height: 4rem;
}
.main-logo a{
  text-decoration: none;
}
.search-area{
  width: 60%;

}
.search-area .search-box{
  position: relative;
  width: 80%;
  height: 2rem;
  margin: 1rem 4rem;

}
.search-box input{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 0 1rem;
}
.search-box .src_btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 10%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  transition: 1s;
}

.search-box .src_btn:hover{
  background-color: black;
}
.search-box .src_btn:hover .src_icon{
  color: red;
  transition: 1s;
}
.src_btn .src_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}

/******/
.notification-area{
  width: 20%;
  margin-left: 5rem;
}
.notification-area .link-item{
  text-decoration: none;
  color: red;
  font-size: 20px;
  padding-left: 2.2rem;
}
.notification-area .cart-item{
  position: relative;
}
.notification-area .cart-item .count{
  position: absolute;
  left: 50%;
}

/****lower-section*****/
.lower-section{
  display: flex;
}
.lower-section .cetagory{
  position: relative;
  background-color: red;
  line-height: 2.3rem;
  width: 13rem;
  text-align: center;
  cursor: pointer;
  transition: .3s;

}
.cetagory .list-item{
  list-style: none;
  color: #fff;
}
.cetagory .cetagory-list{
  display: none;
  position: absolute;
  width: 100%;
  background-color: red;
  transition: 1s;
}
.cetagory .cetagory-list .menu-item{
  list-style: none;
  color: #fff;
  padding: .3rem 2rem;
}
.cetagory .cetagory-list .menu-item .link-item,.list-item .link-item{
    color: #fff;
    text-decoration: none;
}
.cetagory:hover{
  background-color: black;

}
.cetagory:hover .cetagory-list{
  display: block;
}
.cetagory .cetagory-list .menu-item:hover {
  background-color: black;
}

/***************/
.main-menu{
  margin-left: 6rem;

}
.main-menu .menu{
  display: flex;
}
.menu .menu-item{
  list-style: none;
  padding: .3rem 2rem;

}
.menu-item.active .link-item{
  background-color: red;
  color: #fff;
  border-radius: 4rem;
  padding: .3rem 2rem;
  
}

.menu-item .link-item{
  font-size: 1.4rem;
  font-variant: small-caps;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.menu .menu-item:hover{
    background-color: red;
    color: #fff;
    border-radius: 4rem;
}
.menu .menu-item:hover .link-item{
    color: #fff;
}

/**=======main-content=========**/
.main-content{
  margin-top: 2rem;
}
.cetagory-section{
  width: 16%;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, .1);
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: #fff;
  float: left;

}
.cetagory-section .cetagory-list{
  display: block;
}
.cetagory-section .sec-title{
  padding: .5rem .1rem;
  font-size: 1.2rem;
}
.cetagory-list .menu-item{
  color: black;
  list-style: none;
  padding: .4rem 1rem;

}

.cetagory-list .sub-list .menu-item:hover{
  border-left: 2px solid red;
  transition: .1s;padding: .4rem 1.6rem;
}
.cetagory-section .sub-list{
}
.cetagory-list .menu-item.has-sublist .fas{
  margin-left: 1rem;
}
.cetagory-list .menu-item.has-sublist:hover .sub-list{  
}
.cetagory-section .sub-list .link-item{
  font-size: 1.03rem;
}


/*===========product-section**************/
.product-section{
  width: 75%;
  padding-left: 21%;
  
}
.product-section .sec-title{
  height: 3rem;
  background-color: bisque;
}
.product-section .cart-section{
  display: flex;
  flex-wrap: wrap;
}
.cart-section .cart-item{
  width: 30%;
  margin: 0 .9rem;
  position: relative;
  border-radius: 1rem;
  margin-top: 2rem;
}


.cart-item .cart-admins{
  display: none;
  position: absolute;
  background-color: rgb(0 0 0 / 30%);
  right: 0;
  text-align: center;
  width: 100%;
  height: 20rem;
  z-index: 99;  
  cursor: pointer;
}
.cart-admins i{
  padding-top: 45%;
  padding-left: 2rem;
  font-size: 1.4rem;
  color: #fff;
}

.cart-item:hover .cart-admins{
  display: block;
}
/***cart-image-block****/
.cart-item .cart-image-block{
  padding: 1rem 2rem;
}
.cart-item .cart-image-block img{
  width: 100%;
  height: 15rem;
  position: relative;
}


/*****cart-conten***/
.cart-item .cart-content{
  text-align: center;
}
.cart-content .product-name{
  margin-bottom: 1rem;
  text-align: center;
}
.product-name .txt{
  font-size: 1rem;
  margin: 0 2rem;
}

.cart-content .product-price{
  margin-bottom: 1rem;
}
.product-price .price{
  font-size: .7rem;
  font-family: bold;
}

.cart-content .cart-button{
  padding-bottom: 1rem;

}
.cart-button button{
  border: none;
  padding: .6rem 2rem;
  background-color: red;
  color: #fff;
  border-radius: 4rem;
  cursor: pointer;
}
.cart-button button:hover{
  background-color: black;
  transition: 1.2s;
}


/*********footer-area***********/
.footer-collum{
  
}
.footer-area{
  background-color: rgb(20, 22, 28);
  background-image: url('../../img/background/shape-4.png');
  background-size: cover;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 16rem;
  position: relative;
  margin-top: 2rem;
}
.footer-area .container{
  display: flex;
}
.footer-area .company-info{
  width: 30%;
  margin-right: 2rem;
}
.company-info .drescription{
  color: #fff;
  margin: 1rem;
}
.company-info .socale-midea{
  color: #fff;
  font-size: 1.4rem;
}
.socale-midea i{
  padding: 0 1rem;
}
.footer-area .sec-title{
  padding-bottom: 2rem;
  color: #fff;
}

.footer-area .our-services{
}
.our-services .menu-item{
  list-style: none;
  padding: .2rem 1rem;
}
.menu-item .menu-link{
  text-decoration: none;
  color: #fff;
}

.footer-area .payment-partner{
  width: 40%;
  margin-left: 2rem;
}
.footer-area .payment-partner .image-section{
  width: 7rem;
  height: 3.3rem;
  padding: .3rem .5rem;
  border-radius: .8rem;
}

.footer-area .contuct-info{
}
.contuct-info .contuct-from{
  color: #fff;
}
.contuct-from p i{
  padding-right: .5rem;
}

.footer-area .copyright-section{
  width: 100%;
  background-color: rgb(22, 22, 22);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  line-height: 4rem;

}
.copyright-section .left-section{
}
.copyright-section .right-section{
  position: absolute;
  right: 0;
  margin-right: 5rem;
}
.copyright-section .copyright-link{
  text-decoration: none;
  color: #fff;
  font-family: bold;
}

