*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.container{
    margin: 0 5rem;
}
/******/
.uper-section{
    display: flex;
    line-height: 3rem;
}
.main-logo{
    width: 20%;
}
.main-logo img{
    width: 80%;
    height: 3rem;
}

.search_area{
    width: 20rem;
    height: 2rem;
    border: 1px solid #4CC417;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: .25rem;
  
  }
   .search_from input{
    border: none;
    font-size: 1rem;
    padding: 0 1rem;
    padding-bottom: .25rem;
    width: 100%;
    height: 100%;
    text-transform: none;
  }
  .headerArea .header_1 .search_from label{
    font-size: 1rem;
    padding: 0 .7rem;
    padding-top: .55rem;
    color: #000;
  }
  .headerArea .header_1 .search_from label:hover{
    color: #4CC417;
    cursor: pointer;
  }
  #src-btn{
    opacity: 0;
  /*******for 280px****/
  }