<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <!----website title----->
        <title>medicare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-------all extranal link------->
        <!---css link---->
        <link rel="stylesheet" type="text/css" href="assect/css/admin.css">
        <link rel="stylesheet" type="text/css" href="assect/bootstrap/css/bootstrap.min.css">


        <!------------bostrap link--
        <link rel="stylesheet" type="text/css" href="plagins/bootstrap/css/bootstrap.min.css">---->

        <!-----all script links----->
        <script src="https://kit.fontawesome.com/8bd0fc4f43.js" crossorigin="anonymous"></script>
        <script src="assect/js/jquery3.4.1.js"></script>
        <script src="assect/js/script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <!------full website------->

        <div class="preloeder">
            <div class="loader" ><span>Loading...</span></div>
        </div>
        <!-----wrepper area----->
        <section class="wrepper-area">
            <!--======sidebar=====-->
            <section class="sidebar bg-dark" id="sidebar">
                <nav class="side-nav">
                    <!--=====user info====-->
                    <div class="user-admin">
                        <!--logo-->
                        <a href="admin-penel.html" class="navbar-brand mx-4 mb-3">
                            <h3 class="text-primary"><i class="fas fa-user-edit"></i> MediCare</h3>
                        </a>

                        <div class="admin-position mx-4 mb-3">
                            <div class="position-relative">
                                <img class="rounded-circle user-img" src="assect/img/product/CC-2021-1145NEO.jpg" alt="">
                                <div class="bg-success rounded-circle border border-2 border-white position-absolute  active user-active"></div>
                            </div>
                            <div class="info">
                                <h6 class="name">Jhon Doe</h6>
                                <span class="designetion">Admin</span>
                            </div>
                        </div>
                    </div>

                    <!--===side menu====-->
                    <div class="side-menu">
                        <ul class="menu">
                            <li class="menu-item active"><a href="#" class="link-item"><i class="fa fa-tachometer-alt menu-icon"></i> Dashboard</a></li>
                            <li class="menu-item"><a href="#" class="link-item"><i class="fa fa-laptop me-2 menu-icon"></i> Elements</a></li>
                            <li class="menu-item"><a href="#" class="link-item"><i class="fa fa-th me-2 menu-icon"></i> Widgets</a></li>
                            <li class="menu-item"><a href="#" class="link-item"><i class="fa fa-keyboard me-2 menu-icon"></i> Forms</a></li>
                            <li class="menu-item"><a href="#" class="link-item"><i class="fa fa-table me-2 menu-icon"></i> Table</Table></a></li>
                            <li class="menu-item"><a href="#" class="link-item"><i class="fa fa-chart-bar me-2 menu-icon"></i> chart</a></li>
                            <li class="menu-item"><a href="#" class="link-item"><i class="far fa-file-alt me-2 menu-icon"></i> PAges</a></li>
                        </ul>
                    </div>
                    
                </nav>
            </section>

            <!---maincontent-->
            <section class="main-content">
                <section class="content-heading bg-dark">
                    <!--if screen size 1000px content logo-->
                    <a href="admin-penel.html" class="navbar-brand mx-4 mb-3">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <!--=======if screen size 1000px menu open close=====-->
                    <div class="menu-bar">
                        <i class="fas fa-bars menu-icon"></i>
                    </div>

                    <!--=====search form=====-->
                    <div class="search-area">
                        <form class="inner-form">
                            <input type="search" name="sserch-input" placeholder="search hare.........">
                            <label for="search-input" class="src-btn"><i class="fas fa-search"></i></label>
                        </form>
                    </div>

                    <!---======messeges area=====-->
                    <div class="messeges-area">
                        <div class="inner-section">
                            <i class="fa fa-envelope me-lg-2 menu-icon"></i>
                            <span class="name">Messeges</span>
                            <i class="fas fa-angle-down drpdwn-btn"></i>
                        </div>
                    </div>
                    <!---======notificetions area=====-->

                    <div class="notificetions-area">
                        <div class="inner-section">
                            <i class="fa fa-bell me-lg-2 menu-icon"></i>
                            <span class="name">Notificetions</span>
                            <i class="fas fa-angle-down drpdwn-btn"></i>
                        </div>
                    </div>
                    <!---======user identify area=====-->

                    <div class="user-identify-area">
                        <div class="inner-section">
                            <img class="rounded-circle user-img" src="assect/img/product/CC-2021-1145NEO.jpg" alt="">
                            <span class="name">Jhon Doe</span>
                            <i class="fas fa-angle-down drpdwn-btn"></i>

                        </div>
                    </div>

                </section>
            </section>
        </section>


        <script src="assect/js/script.js"></script>
    </body>
</html>
