<!DOCTYPE html>
<html>
    <head>
        <!--=======page title========-->
        <title>Login / MediCares</title>

        <!--======extranal link========-->
        <link rel="stylesheet" type="text/css" href="plagins/css/login.css">
        <!------------bostrap link--
        <link rel="stylesheet" type="text/css" href="plagins/bootstrap/css/bootstrap.min.css">---->

        <!-----all script links----->
        <script src="https://kit.fontawesome.com/8bd0fc4f43.js" crossorigin="anonymous"></script>
    </head>

    <body>
     <!------full website------->
        <!-----heading area----->
        <header class="nevigetion-area">
            <div class="container">
                <!-----uper-section----->
                <section class="uper-section">
                    <!----main-logo----->
                    <figure class="main-logo">
                        <a href="index.html"><img src="img/main-lugo/Logo.png"></a>
                    </figure>
                   <!----search area--------> 
                   <section class="search-area">
                        <form class="search-box">
                            <input type="search" name="search_box" placeholder="Search Your Products......" id="search_box">
                            <label for="search_box" class="src_btn"><i class="fas fa-search src_icon"></i></label>
                        </form>
                   </section>

                   <!----notificetion area------>
                   <section class="notification-area">
                    <a href="login.html" class="link-item active"><i class="fas fa-user"></i></a>
                    <a href="#" class="link-item"><i class="far fa-heart"></i></a>
                    <a href="#" class="link-item cart-item"><i class="fab fa-opencart"><span class="count">0</span></i></a>
                   </section>
                </section>

                <!-----lower-section----->
                <section class="lower-section">
                    <!----cetagory------->
                    <div class="cetagory">
                        <li class="list-item"><a href="#" class="link-item">All Catagorys</a></li>
                        <div class="cetagory-list">
                            <li class="menu-item"><a href="#" class="link-item">baby care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">daily care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">helth care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">women care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">covid-19 protection</a></li>
                            <li class="menu-item"><a href="#" class="link-item">personal care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">medical soppert</a></li>
                            
                        </div>
                    </div>

                    <!------main manu------>
                    <div class="main-menu">
                        <ul class="menu">
                            <li class="menu-item "><a href="index.html" class="link-item">home</a></li>
                            <li class="menu-item"><a href="#" class="link-item">about us</a></li>
                            <li class="menu-item "><a href="product.html" class="link-item">product</a></li>
                            <li class="menu-item"><a href="#"class="link-item">Offer</a></li>
                            <li class="menu-item"><a href="#" class="link-item">contuct us</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>

        <!--======main content======-->
        <section class="main-content">
            <div class="account-section">
                <div class="sec-title">
                    <h2>Account</h2>
                </div>
    
                <!--=====buttons====-->
                <div class="account-btn">
                    <button type="submit" class="button" id="user_login"><i class="fas fa-user"></i>Login</button>
                    <button type="submit" class="button"><i class="fas fa-users"></i>Registar</button>
                </div>

                <div class="user_login">
                    <div class="inner-sec">
                        <form class="login-form" action="#">
                            <label for="email_box"><i class="fas fa-envelope"></i></label>
                            <input type="email" name="email_box" placeholder="enter your email address" id="search_box">
                            
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-----footer area----->
        <footer class="footer-area">
            <div class="container">
                <!---company informetion---->
                <div class="company-info">
                    <div class="sec-title"><h2>MEDICARE.COM</h2></div>

                    <div class="drescription">
                        <p>Welcome to MediCare Care Ltd. We are one of the most renowned online shops in Bangladesh which supplies emergency health care equipment especially related to the COVID pandemic situation.
                            Cardinal care was created with a vision to serve people with a smile,
                            to provide quality service over a virgin sector, and become the industry leader in E-commerce healthcare.
                            We have been dedicatedly working for more than one year through our Facebook page: https://www.facebook.com/cardinalcarebd/
                        </p>
                    </div>

                    <div class="socale-midea">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
                <!------our service------->
                <div class="our-services">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                    <div class="service-list">
                        <ul>
                            <li class="menu-item"><a class="menu-link" href="#">Home</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Products</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">About Us</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Contuct US</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Offers</a></li>
                        </ul>
                    </div>
                </div>
                <!--========payment partner=======-->
                <div class="payment-partner">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                        
                    <div class="partner-info">
                        <img class="image-section" src="img/payment-partner/bkash.png" alt="bkash-logo">
                        <img class="image-section" src="img/payment-partner/nogod.png" alt="nogod-logo">
                        <img class="image-section" src="img/payment-partner/rocket.png" alt="rocket-logo">
                        <img class="image-section" src="img/payment-partner/visa.jpg" alt="visa-logo">
                        <img class="image-section" src="img/payment-partner/paypal.png" alt="paypal-logo">
                    </div>
                <!--========payment partner=======-->
                </div>
                <!--========contuct informetion=======-->
                <div class="contuct-info">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                        
                    <div class="contuct-from">
                        <p><i class="fas fa-home"></i>MediCare></p>
                        <p><i class="fas fa-map-pin"></i>Koritola, Jalkuri, Naraongong , Bangladesh</p>
                        <p><i class="fas fa-phone-alt"></i>+880 19943610XX, +880 1865556XX</p>
                        <p><i class="fas fa-envelope"></i>medicare001@gamil.com</p>
                    </div>
                </div>
                <!--========copyright-section=======-->
                <div class="copyright-section">
                    <div class="container">
                        <div class="left-section">
                            <a class="copyright-link" href="#">A.R.TONMOY</a> © 2022 All Right Reserved
                        </div>
                        <div class="right-section">Terms of Service | Privacy Policy</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>









