<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <!--=======page title========-->
        <title>Login/ MediCares</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--======extranal link========-->
        <link rel="stylesheet" type="text/css" href="plagins/css/login.css">
        <!------------bostrap link--
        <link rel="stylesheet" type="text/css" href="plagins/bootstrap/css/bootstrap.min.css">---->

        <!-----all script links----->
        <script src="https://kit.fontawesome.com/8bd0fc4f43.js" crossorigin="anonymous"></script>
        <script src="plagins/js/jquery3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <!------full website------->
        <div class="preloeder">
            <div class="loader" ><span>Loading...</span></div>
        </div>
        <!-----heading area----->
        <header class="nevigetion-area">
            <div class="container">
                <!-----uper-section----->
                <section class="uper-section" id="uper-section">
                    <!---if this page less then 700px so the menu bar-->
                    <div class="menu-bar">
                        <i class="fas fa-list-ul" id="menu-open"></i> 
                    </div>
                    <!----main-logo----->
                    <figure class="main-logo">
                        <a href="index.html"><img src="img/main-lugo/Logo.png"></a>
                    </figure>
                   <!----search area--------> 
                   <section class="search-area">
                        <form class="search-box">
                            <i class="fas fa-long-arrow-alt-left" id="src-close"></i>
                            <input type="search" name="search_box" placeholder="Search Your Products......" id="search_box">
                            <label for="search_box" class="src_icon"><i class="fas fa-search"></i></label>
                        </form>
                   </section>

                   <!----notificetion area------>
                   <section class="notification-area">
                        <a href="login.html" class="link-item"><i class="fas fa-user"></i></a>
                        <a href="#" class="link-item"><i class="far fa-heart"></i></a>
                        <a href="cart.html" class="link-item cart-item"><i class="fab fa-opencart"><span class="count">0</span></i></a>
                   </section>

                   <!---if this page less then 700px so the menu bar-->
                   <div class="src_btn">
                       <i class="fas fa-search"></i>
                   </div>
                </section>

                <!-----lower-section----->
                <section class="lower-section" id="lower-section">
                    <!----cetagory------->
                    <div class="cetagory">
                        <li class="list-item"><a href="#" class="link-item">All Catagorys</a></li>
                        <div class="cetagory-list">
                            <li class="menu-item"><a href="#" class="link-item">baby care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">daily care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">helth care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">women care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">covid-19 protection</a></li>
                            <li class="menu-item"><a href="#" class="link-item">personal care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">medical soppert</a></li>
                            
                        </div>
                    </div>

                    <!------main manu------>
                    <div class="main-menu">
                        <ul class="menu">
                            <li class="menu-item "><a href="index.html" class="link-item">home</a></li>
                            <li class="menu-item"><a href="aboutus.html" class="link-item">about us</a></li>
                            <li class="menu-item"><a href="product.html" class="link-item">product</a></li>
                            <li class="menu-item"><a href="#"class="link-item">Offer</a></li>
                            <li class="menu-item active"><a href="contuctUs.html" class="link-item">contuct us</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>

        <!----====if the screen size is 780 then menu===-->
        <section class="mobile-menu">
            <i class="fas fa-times" id="menu-close"></i>
            <div class="menu-list">
                <li class="menu-item has-sublist">
                    <a href="#" class="link-item">baby care</a>
                    <i class="fas fa-angle-down"></i>
                    <!--=====Sublist====-->
                    <ul class="sub-list">
                        <li class="menu-item"><a href="#" class="link-item">Baby & Kids</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Boy's Clothing</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Girl's Clothing</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Baby Clothing</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Kids Footwear</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Kid's Backpack</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Baby Food</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Party Supplies</a></li>
                    </ul>
                </li>
                <li class="menu-item has-sublist">
                    <a href="#" class="link-item">daily care</a>
                    <i class="fas fa-angle-down"></i>
                    <!--=====Sublist====-->
                    <ul class="sub-list">
                        <li class="menu-item"><a href="#" class="link-item">Diaper</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Face Wash</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Hair Oil</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Personal Care</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Skin Care</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Soap</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Toothpaste</a></li>
                        <li class="menu-item"><a href="#" class="link-item"></a></li>

                    </ul>
                </li>
                <li class="menu-item"><a href="#" class="link-item">helth care</a></li>
                <li class="menu-item"><a href="#" class="link-item">women care</a></li>
                <li class="menu-item has-sublist">
                    <a href="#" class="link-item">covid-19 protection</a>
                    <i class="fas fa-angle-down"></i>
                    <!--=====Sublist====-->
                    <ul class="sub-list">
                        <li class="menu-item"><a href="#" class="link-item">mask</a></li>
                        <li class="menu-item"><a href="#" class="link-item">face shilde</a></li>
                        <li class="menu-item"><a href="#" class="link-item">hend gloves</a></li>
                        <li class="menu-item"><a href="#" class="link-item">hend senitaizar</a></li>
                        <li class="menu-item"><a href="#" class="link-item">sevlon</a></li>
                        <li class="menu-item"><a href="#" class="link-item">apron</a></li>
                        <li class="menu-item"><a href="#" class="link-item">Soap</a></li>
                        <li class="menu-item"><a href="#" class="link-item">sergical cap</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="#" class="link-item">personal care</a></li>
                <li class="menu-item"><a href="#" class="link-item">medical soppert</a></li>
            </div>
        </section>


        <!----====if the screen size is 780 then menu===-->
        <section class="buttom-menu">
            <nav class="nav">
                <a href="index.html" class="nav__link">
                  <i class="fas fa-home nav__icon"></i>
                  <span class="nav__text">Home</span>
                </a>
                
                <a href="product.html" class="nav__link">
                  <i class="fas fa-shopping-bag nav__icon"></i>
                  <span class="nav__text">Products</span>
                </a>
                <a href="#" class="nav__link">
                    <span class="cart-item"><i class="fab fa-opencart"><span class="count ">0</span></i></span>
                    <span class="nav__text">Cart</span>
                </a>

                <a href="#" class="nav__link">
                    <i class="fas fa-bell nav__icon"></i>
                    <span class="nav__text">Offers</span>
                  </a>

                <a href="login.html" class="nav__link">
                  <i class="fas fa-user nav__icon"></i>
                  <span class="nav__text">Account</span>
                </a>
              </nav>
              
        </section>

        <!--======main content======-->
        <section class="main-content">
            <div class="account-section">
                <div class="sec-title">
                    <h2>Account</h2>
                </div>
    
                <!--=====buttons====-->
                <div class="account-btn">
                    <button type="submit" class="button" id="user_login"><i class="fas fa-user"></i>Login</button>
                    <button type="" class="button" id="user_registar"><i class="fas fa-users" ></i>Registar</button>
                </div>

                <div class="user_login" id="">
                    <div class="inner-sec">
                        <form class="login-form" action="#">
                            <div class="email-box">
                                <label for="email_box"><i class="fas fa-envelope"></i></label>
                                <input type="email" name="email_box" placeholder="enter your email address" id="search_box">
                            </div>

                            <div class="pwd-box">
                                <label for="pwd"><i class="fas fa-key"></i></label>
                                <input type="password" name="pwd" placeholder="Password" id="pwd">
                            </div>

                            <div class="login-btn">
                                <button type="submit" class="button">login</button>
                            </div>

                            <div class="login-link">
                                <a href="#" class="link">Forgeten Password?</a>
                                <a href="#" class="link">terms | condition</a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="user-registar">
                    <div class="sec-title">Create A  Account</div>
                    <form action="#" class="registar-form">
                        <div class="first-name-box">
                            <label for="first-name"><i class="fas fa-user"></i></label>
                             <input type="name" name="first-name" placeholder="enter your first name" id="">
                        </div>

                        <div class="lest-name-box">
                            <label for="first-name"><i class="fas fa-user"></i></label>
                             <input type="name" name="lest-name" placeholder="enter your lest name" id="">
                        </div>

                        <div class="email-box">
                            <label for="email-box"><i class="fas fa-envelope"></i></label>
                             <input type="email" name="email-box" placeholder="enter your email address" id="">
                        </div>

                        <div class="contuct-number-box">
                            <label for="phone"><i class="fas fa-phone"></i></label>
                             <input type="tel" name="phone" placeholder="enter your phone number" id="" pattern="['0-9']{11}">
                        </div>

                        <div class="pwd-box">
                            <span class="eye" onclick="psd_hide_show()">
                                <label class="fas fa-eye show" id="show"></label>
                                <label class="fas fa-eye-slash hide" id="hide"></label>
                            </span>

                            <label for="pwd"><i class="fas fa-key"></i></label>
                            <input type="password" name="pwd" placeholder="Password" id="psd">
                        </div>

                        <div class="pwd-box">
                            <span class="eye" onclick="">
                                <label class="fas fa-eye show" id="show"></label>
                                <label class="fas fa-eye-slash hide" id="hide"></label>
                            </span>
                            <label for="pwd"><i class="fas fa-key"></i></label>
                            <input type="password" name="pwd" placeholder="Confrim Password" id="pd">
                        </div>

                        <div class="select-gender">
                            <p>select gender: </p>
                            <input type="radio" name="gender" id="male">
                            <label for="gender">Male</label>

                            <input type="radio" name="gender" id="male">
                            <label for="gender">Female</label>

                            <input type="radio" name="gender" id="male">
                            <label for="gender">coustom</label>
                        </div>

                        <div class="login-btn">
                            <button type="submit" class="button">Create a Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-----footer area----->
        <footer class="footer-area">
            <div class="container">
                <!---company informetion---->
                <div class="company-info">
                    <div class="sec-title"><h2>MEDICARE.COM</h2></div>

                    <div class="drescription">
                        <p>Welcome to MediCare Care Ltd. We are one of the most renowned online shops in Bangladesh which supplies emergency health care equipment especially related to the COVID pandemic situation.
                            Cardinal care was created with a vision to serve people with a smile,
                            to provide quality service over a virgin sector, and become the industry leader in E-commerce healthcare.
                            We have been dedicatedly working for more than one year through our Facebook page: https://www.facebook.com/cardinalcarebd/
                        </p>
                    </div>

                    <div class="socale-midea">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
                <!------our service------->
                <div class="our-services">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                    <div class="service-list">
                        <ul>
                            <li class="menu-item"><a class="menu-link" href="#">Home</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Products</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">About Us</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Contuct US</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Offers</a></li>
                        </ul>
                    </div>
                </div>
                <!--========payment partner=======-->
                <div class="payment-partner">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                        
                    <div class="partner-info">
                        <img class="image-section" src="img/payment-partner/bkash.png" alt="bkash-logo">
                        <img class="image-section" src="img/payment-partner/nogod.png" alt="nogod-logo">
                        <img class="image-section" src="img/payment-partner/rocket.png" alt="rocket-logo">
                        <img class="image-section" src="img/payment-partner/visa.jpg" alt="visa-logo">
                        <img class="image-section" src="img/payment-partner/paypal.png" alt="paypal-logo">
                    </div>
                <!--========payment partner=======-->
                </div>
                <!--========contuct informetion=======-->
                <div class="contuct-info">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                        
                    <div class="contuct-from">
                        <p><i class="fas fa-home"></i>MediCare></p>
                        <p><i class="fas fa-map-pin"></i>Koritola, Jalkuri, Naraongong , Bangladesh</p>
                        <p><i class="fas fa-phone-alt"></i>+880 19943610XX, +880 1865556XX</p>
                        <p><i class="fas fa-envelope"></i>medicare001@gamil.com</p>
                    </div>
                </div>
                <!--========copyright-section=======-->
                <div class="copyright-section">
                    <div class="container">
                        <div class="left-section">
                            <a class="copyright-link" href="#">A.R.TONMOY</a> © 2022 All Right Reserved
                        </div>
                        <div class="right-section">Terms of Service | Privacy Policy</div>
                    </div>
                </div>
            </div>
        </footer>


        <script>

            $(document).ready(function(){
                $("#user_registar").click(function(){
                    $(".user_login").hide();
                    $(".user-registar").show();
                });

                $("#user_login").click(function(){
                    $(".user_login").show();
                    $(".user-registar").hide();
                });
            });
            
            function psd_hide_show(){
                var psd= document.getElementById("psd")
                var show= document.getElementById("show")
                var hide= document.getElementById("hide")

                if(psd.type === 'password'){
                    psd.type = "text";
                    show.style.display = "block";
                    hide.style.display = "none";
                }
                else{
                    psd.type = "password";
                    show.style.display = "none";
                    hide.style.display = "block";
                }
            }
        </script>

        <script src="plagins/js/script.js"></script>
        <script src="plagins/js/cart.js"></script>
    </body>
</html>









