<!DOCTYPE html>
<html>
    <head>
        <!--=======page title========-->
        <title>Product / MediCares</title>

        <!--======extranal link========-->
        <link rel="stylesheet" type="text/css" href="plagins/css/product.css">
        <!------------bostrap link--
        <link rel="stylesheet" type="text/css" href="plagins/bootstrap/css/bootstrap.min.css">---->

        <!-----all script links----->
        <script src="https://kit.fontawesome.com/8bd0fc4f43.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!------full website------->
        <!-----heading area----->
        <header class="nevigetion-area">
            <div class="container">
                <!-----uper-section----->
                <section class="uper-section">
                    <!----main-logo----->
                    <figure class="main-logo">
                        <a href="index.html"><img src="img/main-lugo/Logo.png"></a>
                    </figure>
                   <!----search area--------> 
                   <section class="search-area">
                        <form class="search-box">
                            <input type="search" name="search_box" placeholder="Search Your Products......" id="search_box">
                            <label for="search_box" class="src_btn"><i class="fas fa-search src_icon"></i></label>
                        </form>
                   </section>

                   <!----notificetion area------>
                   <section class="notification-area">
                    <a href="login.html" class="link-item"><i class="fas fa-user"></i></a>
                    <a href="#" class="link-item"><i class="far fa-heart"></i></a>
                    <a href="#" class="link-item cart-item"><i class="fab fa-opencart"><span class="count">0</span></i></a>
                   </section>
                </section>

                <!-----lower-section----->
                <section class="lower-section">
                    <!----cetagory------->
                    <div class="cetagory">
                        <li class="list-item"><a href="#" class="link-item">All Catagorys</a></li>
                        <div class="cetagory-list">
                            <li class="menu-item"><a href="#" class="link-item">baby care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">daily care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">helth care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">women care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">covid-19 protection</a></li>
                            <li class="menu-item"><a href="#" class="link-item">personal care</a></li>
                            <li class="menu-item"><a href="#" class="link-item">medical soppert</a></li>
                            
                        </div>
                    </div>

                    <!------main manu------>
                    <div class="main-menu">
                        <ul class="menu">
                            <li class="menu-item "><a href="index.html" class="link-item">home</a></li>
                            <li class="menu-item"><a href="#" class="link-item">about us</a></li>
                            <li class="menu-item active"><a href="product.html" class="link-item">product</a></li>
                            <li class="menu-item"><a href="#"class="link-item">Offer</a></li>
                            <li class="menu-item"><a href="#" class="link-item">contuct us</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>

        <!--======main content======-->
        <section class="main-content">
            <div class="container">
                <!--========cetagory list=======-->
                <div class="cetagory-section">
                    <div class="sec-title">Product Catagorys</div>

                    <div class="cetagory-list">
                        <li class="menu-item has-sublist">
                            <a href="#" class="link-item">baby care</a>
                            <i class="fas fa-angle-down"></i>
                            <!--=====Sublist====-->
                            <ul class="sub-list">
                                <li class="menu-item"><a href="#" class="link-item">Baby & Kids</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Boy's Clothing</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Girl's Clothing</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Baby Clothing</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Kids Footwear</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Kid's Backpack</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Baby Food</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Party Supplies</a></li>
                            </ul>
                        </li>
                        <li class="menu-item has-sublist">
                            <a href="#" class="link-item">daily care</a>
                            <i class="fas fa-angle-down"></i>
                            <!--=====Sublist====-->
                            <ul class="sub-list">
                                <li class="menu-item"><a href="#" class="link-item">Diaper</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Face Wash</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Hair Oil</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Personal Care</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Skin Care</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Soap</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Toothpaste</a></li>
                                <li class="menu-item"><a href="#" class="link-item"></a></li>

                            </ul>
                        </li>
                        <li class="menu-item"><a href="#" class="link-item">helth care</a></li>
                        <li class="menu-item"><a href="#" class="link-item">women care</a></li>
                        <li class="menu-item has-sublist">
                            <a href="#" class="link-item">covid-19 protection</a>
                            <i class="fas fa-angle-down"></i>
                            <!--=====Sublist====-->
                            <ul class="sub-list">
                                <li class="menu-item"><a href="#" class="link-item">mask</a></li>
                                <li class="menu-item"><a href="#" class="link-item">face shilde</a></li>
                                <li class="menu-item"><a href="#" class="link-item">hend gloves</a></li>
                                <li class="menu-item"><a href="#" class="link-item">hend senitaizar</a></li>
                                <li class="menu-item"><a href="#" class="link-item">sevlon</a></li>
                                <li class="menu-item"><a href="#" class="link-item">apron</a></li>
                                <li class="menu-item"><a href="#" class="link-item">Soap</a></li>
                                <li class="menu-item"><a href="#" class="link-item">sergical cap</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#" class="link-item">personal care</a></li>
                        <li class="menu-item"><a href="#" class="link-item">medical soppert</a></li>
                    </div>
                </div>

                <!--======product section=======-->
                <div class="product-section">
                    <div class="sec-title"></div>

                    <!--===============-->
                    <!--=====product cart=====-->
                    <div class="cart-section">
                        <!------for 1-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/JUMPER_Electronic_Blood_Pressure_Monitor_._Model_(JPD-HA300).jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>

                        <!------for 2-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/Aloe_Vera_Gel.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>

                        <!------for 3-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/CC-2021-1872_with_logo.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 4-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/conditioning_shampoo_.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 5-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/dpilogo.png">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 6-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/Aloe_Vera_Gel.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 7-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/Elastic_Shoulder_Immobilizer__950_Tk_(1).jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 8-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/feeder.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 9-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/foot-scriub.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 10-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/Kidz-Pant-Diapers-Large-58-pcs.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 11-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/Kodomo_Bottle___Accessories_Cleanser_(Bottle).png">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 12-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/Life_Care_Nebulizer_Machine.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 13-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/LION_FEEDING_SET_LARGE_FORK__SPOON__CUP___BOWL_SET.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        <!------for 14-------->
                        <div class="cart-item">
                            <div class="cart-admins">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cart-image-block">
                                <figure class="img-content">
                                    <img src="img/product/NEOCARE_DIAPER_LARGE_10_pcs.jpg">
                                </figure>
                            </div>
                            <div class="cart-content">
                                <div class="product-name">
                                    <h3 class="txt">JUMPER Electronic Blood Pressure Monitor</h3>
                                </div>
                                <div class="product-price">
                                    <span class="price">BDT 2000 TAKA</span>
                                </div>
                                <div class="cart-button">
                                    <button type="submit">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-----footer area----->
        <footer class="footer-area">
            <div class="container">
                <!---company informetion---->
                <div class="company-info">
                    <div class="sec-title"><h2>MEDICARE.COM</h2></div>

                    <div class="drescription">
                        <p>Welcome to MediCare Care Ltd. We are one of the most renowned online shops in Bangladesh which supplies emergency health care equipment especially related to the COVID pandemic situation.
                            Cardinal care was created with a vision to serve people with a smile,
                            to provide quality service over a virgin sector, and become the industry leader in E-commerce healthcare.
                            We have been dedicatedly working for more than one year through our Facebook page: https://www.facebook.com/cardinalcarebd/
                        </p>
                    </div>

                    <div class="socale-midea">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
                <!------our service------->
                <div class="our-services">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                    <div class="service-list">
                        <ul>
                            <li class="menu-item"><a class="menu-link" href="#">Home</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Products</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">About Us</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Contuct US</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Offers</a></li>
                        </ul>
                    </div>
                </div>
                <!--========payment partner=======-->
                <div class="payment-partner">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                        
                    <div class="partner-info">
                        <img class="image-section" src="img/payment-partner/bkash.png" alt="bkash-logo">
                        <img class="image-section" src="img/payment-partner/nogod.png" alt="nogod-logo">
                        <img class="image-section" src="img/payment-partner/rocket.png" alt="rocket-logo">
                        <img class="image-section" src="img/payment-partner/visa.jpg" alt="visa-logo">
                        <img class="image-section" src="img/payment-partner/paypal.png" alt="paypal-logo">
                    </div>
                <!--========payment partner=======-->
                </div>
                <!--========contuct informetion=======-->
                <div class="contuct-info">
                    <div class="sec-title"><h2>SERVICES</h2></div>
                        
                    <div class="contuct-from">
                        <p><i class="fas fa-home"></i>MediCare></p>
                        <p><i class="fas fa-map-pin"></i>Koritola, Jalkuri, Naraongong , Bangladesh</p>
                        <p><i class="fas fa-phone-alt"></i>+880 19943610XX, +880 1865556XX</p>
                        <p><i class="fas fa-envelope"></i>medicare001@gamil.com</p>
                    </div>
                </div>
                <!--========copyright-section=======-->
                <div class="copyright-section">
                    <div class="container">
                        <div class="left-section">
                            <a class="copyright-link" href="#">A.R.TONMOY</a> © 2022 All Right Reserved
                        </div>
                        <div class="right-section">Terms of Service | Privacy Policy</div>
                    </div>
                </div>
                
            </div>
        </footer>
    </body>
</html>









