*{
    margin: 0 auto;
    padding: 0 auto;
    outline:  0 auto;
}

.user-registar{
    text-align: center;
}

.sec-title{
    font-size: 1.7rem;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    line-height: 4rem;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    text-transform: uppercase;
}

.register-content{
    width: 50%;
    margin-top: 3rem;
}

.user-registar .registar-form{
    position: relative;
    margin: 0 4rem;
  }
  .registar-form div{
    margin: 2rem 0;
  }
  .registar-form input{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid red;
    padding: 0 13%;
    padding-bottom: .5rem;
  }
  .registar-form label{
    position: absolute;
    left: 0;
    width: 10%;
    height: 2.1rem;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    transition: 1s; 
    font-size: 1.2rem;
  }
  
  .registar-form .fas{
    padding: .3rem 0;
    color: red; 
  }
  
  .registar-form .select-gender{
    display: flex;
    position: relative;
  }
  .select-gender input{
    height: 1rem;
    padding: 0;
    width: 2rem;
    text-align: left;
  }
  .select-gender label{
    position: relative;
    transition: 1s;
    font-size: 1rem;
    margin-right: .8rem;
    text-align: left;
  }


/**/
@media screen and (max-width: 1100px){
    .register-content {
        width: 70%;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1000px){
    .register-content {
        width: 90%;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 750px){
    .register-content {
        width: 100%;
        margin-top: 3rem;
    }

    .register-content .registar-form {
        position: relative;
        margin: 4rem 3rem;
        text-align: center;
        height: 100%;
    }
}

@media screen and (max-width: 490px){
    .register-content .registar-form {
        margin: 4rem 1rem;

    }

    .registar-form .select-gender {
        display: block;
        position: relative;
    }
    .select-gender p{
        margin-top: 0;
        text-align: left;
        margin-bottom: 1rem;
    }
    .select-gender label {
        
    }
}


@media screen and (max-width: 360px){
    .register-content .registar-form {
        margin: 4rem 1rem;

    }

    .registar-form .select-gender {
        display: block;
        position: relative;
    }
    .select-gender p{
        margin-top: 0;
        text-align: left;
        margin-bottom: 1rem;
    }
    .select-gender label {
        position: relative;
        transition: 1s;
        font-size: 1rem;
        margin-right: 10rem;
        text-align: left;
    }
}
 
 
  