<!DOCTYPE html>
<html>
    <head>
        <title>Calculetor</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <!----Main content----->
        <div class="content">
            <!-----main program----->
            <div class="mechine">
                <!--------left side-------->
                <div class="left">
                    <h1>Php Calculetor</h1>
                </div>
                <!------right side------->
                <div class="right">
                    <form class="">
                        <!------input veriable------>
                        <input type="number" name="1stNum" placeholder="input a number" class="">
                        <input type="number" name="2stNum" placeholder="input a number" class="">
                        <select name="oparetor">
                            <option>choice any oparetors</option>
                            <option>+</option>
                            <option>-</option>
                            <option>*</option>
                            <option>/</option>
                        </select>
                    </form>
                    <button type="submit">SUBMIT</button>
                </div>
            </div>
            <div class="output">
                <h1>calculetion :</h1>
                <!----php develop----->
                <div id="dev">
                    
                </div>
            </div>

        </div>
    </body>
</html>