<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="all.min.css">
	<script type="text/javascript" src="../js/jquery3.4.1.js"></script>

</head>
<body>
		<div class="preloader">
		<div class="preloader-spinner"></div>
	</div>
	<!------------end of Preloader------------>
	<div class="full_WrepperArea">
	<div id="headerArea">
		<img src="logo.jpg" alt="Computer Technology logo">
		<h1>Computer Technology </h1>
		<h2>Welcome to</h2>
		<h3 id="marquee"><marquee>Dhaka Polytechnic Instituite</marquee></h3>
	</div>
	<!-------------End of headerArea--------------->
	<div class="nevBar">
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li id="au"><a href="AboutUs/index.html">About Us</a></li>
			<li><a href="#"></a> Academics
				<ul>
					<li><a href="../file/Sylebus.pdf">Syllabus</a></li>
					<li><a href="#">Class Routine</a></li>
					<li><a href="#">Result</a></li>
					<li><a href="../file/2672.1.pdf">Academic Celender</a></li>
>
				</ul>
			</li>
			<li><a href="#">Notice</a> </li>
			<li><a href="../Students info/index.html">Students Informetion</a> </li>
			<li><a href="../Album/index.html">Album</a> </li>
			<li><a href="../contuct us/index.html"> Contuct Us</a></li>
		<input type="text" placeholder="Search" name="Search">
	</ul>
	</div>
		<!-----------End of nebVar------------->
		<div class="aboutUs">
		<img src="Computer.jpg" alt="Computer Technology">
			<p>The department of Computer Technology was established at Dhaka Polytechnic Institute in 1995. This department offered 4 years Diploma-in-Engineering program under the Bangladesh Technical Education Board after 10 years schooling. The Department currently has roughly 15 faculty members (both full time and part time), 04 technical &amp; support staff and 480 numbers of students (120 students per year, 60 for 1st and 60 for 2nd shift). In our admission criteria, there are 20% seats reserved for female student, 15% for Vocational and 5% for disable students.
				<br>
After completion the Diploma-in-Engineering Program, students can go to Job market or higher education. For higher education they can admitted in Dhaka University of Engineering and Technology (DUET), Gazipur or any other private or public university in home or abroad for Bachelor degree program like Bachelor of Computer Science &amp; Engineering or Bachelor of Computer Science or Bachelor of Information Technology etc. A Diploma Computer graduate works as a Sub-assistant Engineer in public &amp; private organization.<br>
The major job fields of a Computer Diploma Graduate are Computer Software &amp; Hardware companies, Telecommunication companies, Teachers of TVET institutions, BPO industries, IT sector of all kind of Government and private organization as an IT Officer or Network support Engineer.</p>
<!------------end of p teg-------->
	<div class="Icon">
				<p>Aunther Informetion With Us</p>

			<a href="https://web.facebook.com/groups/computertechnologydpi66/?ref=bookmarks"><b class="fab fa-facebook-square fa-2x facebook"></b></a>
					<a href="#"><b class="fab fa-youtube fa-2x youtube"></b></a>
					<a href="#"><b class="fab fa-linkedin fa-2x linkedin"></b></a>
					<a href="#"><b class="fab fa-twitter fa-2x twitter"></b></a>
					<a href="#"><b class="fas fa-envelope-square fa-2x gmail"></b></a>
		</div>
</div>
<!-------------end of aboutUs---------->
<hr>
	<div id="footerArea">
		<center><p>The Website Copyright@<a href="https://web.facebook.com/tonmoy.bapari.33"> Ahosan Tonmoy</a> at 2019</p></center>
	</div>
	<!------------end of footerArea----------->
</div>
<script>
		      $('body').addClass('preloader-active');
            $(window).on('load', function() { 
          $('.preloader').fadeOut(600);
          $('.preloader-spinner').delay(700).fadeOut('slow');
         /** $('body').removeClass('preloader-active');*/
      });
</script>


</body>
</html>